#checkevaluate
  .name
    font-size 18px
    color #2f
    font-weight 550
  .checked
    margin-top 10px
    line-height 36px
    p.title
      font-size 16px
      color #4875fa
      display inline-block
    span
      display inline-block
      border-radius 18px
      margin-left 12px
      padding 0 10px
      font-size 14px
      color #fff
      background-color #789dff
      i
        cursor pointer
        margin-left 3px
    .search-wrap
      float right
      span
        font-size 16px
        line-height 36px
        border-radius 18px
        cursor pointer
        text-align center
        color #9ca4b7
        width 74px
        background-color #fff
        border 1px solid #9ca4b7
        &.search
          color #fff
          background-image linear-gradient(to right, #60b2ff, #5986fb)
          border 1px solid transparent
  .input-wrap
    max-height auto
    transition max-height .5s
    &.hiddden
      max-height 0
      overflow hidden
    .title
      font-size 16px
      color #464646
      line-height 36px
      margin-top 25px
      display inline-block
    .margin
      margin-left 65px
    .ivu-radio-group
      margin-left 20px
    .ivu-date-picker
      margin-left 20px
  .line
    height 20px
    margin-top 20px
    background-image url("~@/assets/css/images/下拉.png")
    background-size 100%
    background-repeat no-repeat
    &.all
      background-image url("~@/assets/css/images/上拉.png")
  .button
    p
      display inline-block
      border-radius 5px
      border solid 1px #7a90fd
      color #7a90fd
      line-height 28px
      font-size 12px
      margin-right 15px
      text-align center
      padding 0 10px
      i
        margin-right 5px
        vertical-align baseline
  .table-wrap
    height 630px
    margin-top 15px
    background pink
    overflow hidden
  .page
    margin-top 10px
    text-align center