.body{
    display: inline-block;
    min-height: 1080px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    color:#000000;
    border-radius: 0px 0px 5px 5px;
}
.topOne{
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
.divOne{
    display: block;
    height: 70px;
    width: 360px;
    float: left;
    margin-left: 45px;
}
.search{
    display: block;
    height: 70px;
    width: 360px;
    float: right;
    margin-right:55px;
}
.search Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.divOne span {
    line-height: 70px;
    font-size: 18px;
    float: right;
}
.divOne Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.hr{
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    height: 10px;
    float: right;
}
.button{
    display: inline-block;
    min-height: 70px;
    height: auto;
    width: 100%;
}
.button Button {
    margin-left: 20px;
    margin-top: 20px;
}
.bodyTwo{
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.bodyTwo2{
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#app .input .ivu-input-wrapper textarea{
    min-height:150px !important;
}
.cdivOne{
    display: block;
    height: 70px;
    width: 390px;
    float: left;
    margin-left:60px;
}
.cdivOne span {
    line-height: 70px;
    font-size: 18px;
}
.name2{
    width: 170px;
    float: left;
    text-align: right;
}


.input2{
    float: left;
    line-height: 65px;
    margin-left: 20px;
    height: 100%;
}
.footer{
    position: fixed;
    /* left: 0px; */
    bottom: 0px;
    width: 90%;
    height: 35px;
    background-color: #e6e6e6;
    z-index: 1;
    float: right;
}

.footer ul {
    text-align: center;
    width: 100%;
}
.addBody{
    width: 100%;
    height: 330px;
}
.left{
    width: 100%;
    height: 100%;
    float: left;
}
.divTwo{
    line-height: 70px;
    width: 80%;
    height: 65px;
    margin-left: 20%;
    float: left;

}
.name{
    width: 22%;
    float: left;
    text-align: right;
}
.input{
    width: 75%;
    float: left;
    margin-left: 2%;
}
.divTwo span{
    font-size: 18px;
}

#app .addBody .divTwo .input .ivu-input-wrapper .ivu-input {
    height: 50px !important;
}
.addBody1{
    width: 100%;
    height: 772px;
}
.top{
    display: block;
    width: 100%;
    min-height: 70px;
    float: right;
    height: auto;
}
.ccdivOne{
    display: block;
    min-height: 70px;
    width: 100%;
    float: left;
    margin-left:60px;
}
.image-remove {
    background-color: #0091fe;
    color: #ececec;
    font-size: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    transform: rotate(45deg);
    cursor: pointer;
    /* opacity: 0.5; */
    top: 2px;
    right: -2px;
    position: absolute;
}
.left1{
    width: 65%;
    height: 610px;
    border: 1px solid #b8b8b8;
    margin-left: 2%;
    float: left;
    padding-top: 10px;
}
.left1 table{
    width: 800px;
    border-top: 1px solid #999;

    border-left: 1px solid #999;

    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
.left1 td{
    text-align: center;
}
.left1 table th{
    height: 50px;
    background-color: #b3d4fc;
    font-size: 14px;
}
.left1 tr th,.left1 tr td{
    border-bottom: 1px solid #999;

    border-right: 0px;
}
.right1{
    width: 25%;
    height: 610px;
    border: 1px solid #b8b8b8;
    margin-right: 2%;
    float: right;
}
.rdiv{
    display:  inline-block;
    float: left;
    width: 50px;
    height: 70px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
.rimg{
    width: 50px;
    height: 50px;
}
.rname{
    width: 50px;
    height: 20px;
}
.bodyTwo .ivu-table-wrapper{
    overflow: visible !important;
}