.body{
    display: inline-block;
    min-height: 1080px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    color:#000000;
}
.topOne{
    display: block;
    height: 140px;
    width: 100%;
    height: auto;
    float: right;
    min-height: 140px;
}
.divOne{
    display: block;
    height: 70px;
    width: 360px;
    float: left;
    margin-left:45px;
}
.divOne span {
    line-height: 70px;
    font-size: 18px;
    float: right;
}
.divOne Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.hr{
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    height: 10px;
    float: right;
}
.button{
    display: inline-block;
    min-height: 70px;
    height: auto;
    width: 100%;
}
.button Button {
    margin-left: 20px;
    margin-top: 20px;
}
.people{
    display: inline-block;
    width: 280px;
    height: 300px;
    margin-left: 45px;
    margin-top: 20px;
    border: 1.5px solid #f8f9fb;
    box-shadow: 5px 5px 5px -1px #d7d7d7;
    background-color: #f8f9fb;
    position: relative;
}
.people:hover,.people:active {
    border: 1.5px solid #0090ff;
    box-shadow: 5px 5px 5px -1px #cce9ff;
    background-color: #ffffff;
}
.name{
    width: 100%;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #32bcff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.ivu-rate {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
}
.comment{
    width: 100%;
    height: 25px;
    margin-bottom: 7px;
}
.com{
    width: 70px;
    height: 25px;
    margin-left: 17px;
    margin-top: 3px;
    float: left;
    text-align: center;
    line-height: 25px;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 3px 3px -1px #d7d7d7;
}
.y1{
    height: 52px;
    width: 100%;
}
.y1 span{
    margin-left: 14px;
    font-size: 12px;
}
.y2{
    width: 100%;
    height: 37px;
}
.y2 button{
    width: 50%;
    height: 36px;
    color: #0090ff;
    text-align: center;
    line-height: 27px;
    border: 1px solid #e6f4ff;
    font-weight: bold;
    font-size: 13px;
    background-color: transparent;
}
.y2 button:hover,.y2 button:active{
    color: #ffffff;
    background-color: #0090ff;
}
.footer{
    height: 50px;
    width: 100%;
    float:left;
    margin-top: 20px;
}

.footer ul {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.minBody{
    width: 1180px;
    height: auto;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
}
.maxBody{
    width: 100%;
    height: auto;
}
.cc{
    font-size: 35px;
    height: 35px;
    color: #f78803;
}
.div{
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.dd{
    width: 100%;
    height: 65px;
    margin-left: 5%;
    margin-top: 2%;
}
.dd span{
    font-size: 18px;
}
.d1{
    width: 20%;
    text-align: right;
    float: left;
}
.d2{
    width: 75%;
    margin-left: 2%;
    float: left;
}
.m1{
    width: 20%;
    text-align: right;
    float: left;
}
.m2{
    width: 75%;
    margin-left: 2%;
    float: left;
}
.div span {
    font-size: 18px;
}
.left{
    float: left;
    height: 345px;
    width: 100%;
}
.yu1{
    float: left;
    width: 60%;
    height: 100%;
    margin-top: 2%;
}
.yu2{
    float: left;
    width: 40%;
    height: 82%;
    border-left: 1px solid  #e1e1e1;
}
.x{
    width: 100%;
    margin-left: 20%;
    margin-top: 5%;
}
.x span{
    margin-left: 3%;
    font-size: 18px;
    font-weight: bold;
}
.c1{
    height: 85px;
    width: 1180px;
}
.c2{
    float: left;;
    width: 25%;
}
.c3{
    float: left;
    width: 50%;
}
.c4{
    float: left;
    width: 25%;
    text-align: center;
}
.c5{
    width: 100%;
    height: 40px;
    margin-left: 8%;
    margin-top: 3%;
}
.c6 span{
    font-size: 14px;
    margin-left: 12%;
}
.c7{
    float: left;
    width: 30%;
    text-align: center;
}
.c7 span{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
.c8{
    float: left;
    width: 50%;
}
.c9{
    text-align: center;
    margin-top: 3%;
    width: 80px;
    height: 25px;
    border-radius: 30px;
    background-color: #0090ff;
}
.c9 span {
    color: #ffffff;
    line-height: 25px;

}

.ulDiv{
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.ulDiv li{
    float: left;
    list-style: none;
    font-size: 15px;
    width: 20%;
    height: 25px;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
    padding-right: 2%;
    font-weight: bold;
}
.ulDiv li:nth-child(1){
    background-color: #fbb869;
}
.ulDiv li:nth-child(2){
    background-color: #fbac4f;
}
.ulDiv li:nth-child(3){
    background-color: #f8a034;
}
.ulDiv li:nth-child(4){
    background-color: #f8941c;
}
.ulDiv li:nth-child(5){
    background-color: #f78803;
}
.c10{
    width: 1180px;
    height: 25px;
    background-color: #eeeeee;
}
.c11{
    width: 100%;
}
.c12{
     float: left;;
     width: 50%;
 }
.c13{
    float: left;
    width: 25%;
    text-align: right;
    line-height: 100px;
    color: red;
}
.c14{
    text-align: right;
    float: left;
    width: 25%;
}
.c15{
    width: 100%;
    height: 60px;
    margin-left: 3%;
}
.c15 p{
    font-size: 12px;
    color: #000000;
    margin-left: 3%;
}
.c16{
    width: 100%;
    height: 40px;
    margin-left: 3%;
}

.middleHr{
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
}
.threeDiv{
     width: 1180px;
     height: 100px;
     margin-top: 20px;
 }
.c17{
    float: left;
    font-size: 12px;
    color: #000000;
    margin-left: 3%;
    margin-top: 10px;
}
.peoples{
    display: inline-block;
    width: 1180px;
    height: auto;
    margin-left: -16.5px;
    margin-top: 0px;
    border: 1px solid #f8f9fb;
    box-shadow: 0px 0px 0px -1px #d7d7d7;
    background-color: #f8f9fb;
}

.minBody .ivu-table-wrapper{
    overflow: unset !important;
}

.ivu-tabs {
    overflow: unset !important;
}

.pTop{
    display: block;
    height: 16px;
    width: 16px;
    background-color: #c5e8ff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.pop{
    background-image: url('~@/assets/css/images/checked.png');
    background-repeat:no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}