.body{
    display: inline-block;
    min-height: 1080px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    color:#000000;
}
.topOne{
    display: block;
    width: 100%;
    height: 80px;
    float: right;
}
.divOne{
    display: block;
    height: 70px;
    width: 360px;
    float: left;
    margin-left:45px;
}
.divOne span {
    line-height: 70px;
    font-size: 18px;
    float: right;
}
.divOne Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.hr{
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    height: 10px;
    float: right;
}
.button{
    display: inline-block;
    min-height: 70px;
    height: auto;
    width: 100%;
}
.button Button {
    margin-left: 20px;
    margin-top: 20px;

}
.courseware{
    display: inline-block;
    width: 22.5%;
    min-height: 315px;
    margin-bottom: 40px;
    margin-left: 2%;
    background-color: #f8f9fb;
    border: 2px solid transparent;
    box-shadow: 3px 3px 3px 1px #d7d7d7;
}
.courseware:hover{
    background-color: #ffffff;
    border: 2px solid #0090ff;
    box-shadow: 3px 3px 3px 1px #cce9ff
}

.butt{
    width: 30%;
    height: 40px;
    margin-left: 5%;
    color:#ffffff;
    background-color: #0090ff;
}
.butt1{
    width: 30%;
    height: 40px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0090ff;
}
.courseware:hover .butt{
    color:#0090ff;
    background-color: #ffffff;
    border: 1px solid #0090ff;
}
.div1{
    height: 50px;
}

.div2{
    height: 180px
}
.div3{
    height: 37px;
}
.div31{
    height: 37px;
    text-align: center;
}
.left{
    height: 100%;
    width: 50%;
    float: left;
}

.right
{
    float: left;
    height: 100%;
    width: 50%;
}
.right span{
    float: right;
    margin-top: 5%;
    font-size: 18px;
    margin-right: 10%;
}
.ellipse{
    display: block;
    width: 50px;
    height: 25px;
    float: left;
    border-radius: 15px 15px 15px 15px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #f78803;
    box-shadow: 1px 1px 2px 1px #fee5c7;
}

.ivu-dropdown{
    display: inline-block;
    margin-right: 2%;
    float: right;

}
.divCheck{
    border: 1px solid #2d8cf0;
    float: left;
    width: 50px;
    text-align: center;
    height: 20px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.divL{
    width: 100%;
    height: 30px;
    overflow-y: auto;
}

.headPhotos{
    width: 140px;
    height: 140px;
    float: left;
    margin-left: 35%;
}
.ivu-dropdown-menu{
    min-width: 80px;
}
.cutOrange{
    width: 50%;
    height: 100%;
    background-color: #f78803;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    float: left;
    font-size: 18px;
}
.cutGray{
    width: 50%;
    height: 100%;
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
    text-align: center;
    float: left;
    font-size: 18px;
}
.cut{
    height: 45px;
    /* background-color: antiquewhite; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 45px;
}
.addBody{
    width: 100%;
    height: 410px;
}
.addBody2{
    width: 100%;
    height: 460px;
}
.addBody1{
    width: 100%;
    height: 772px;
}
.divTwo{
    line-height: 70px;
    width: 80%;
    height: 65px;
    margin-left: 20%;
    float: left;

}
.top{
    display: block;
    width: 100%;
    min-height: 70px;
    float: right;
    height: auto;
}
.cdivOne{
    display: block;
    height: 70px;
    width: 390px;
    float: left;
    margin-left:30px;
}
.ccdivOne span {
    width:1150px;
    line-height: 70px;
    font-size: 18px;
}
.cdivOne span {
    line-height: 70px;
    font-size: 18px;
}
.ccdivOne{
    display: block;
    min-height: 70px;
    width: 100%;
    float: left;
    margin-left:60px;
}
.search{
    display: block;
    height: 70px;
    width: 360px;
    float: right;
    margin-right:55px;
}
.search Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.left1{
    width: 65%;
    height: 610px;
    border: 1px solid #b8b8b8;
    margin-left: 2%;
    float: left;
    padding-top: 10px;
}
.left1 table{
    width: 800px;
    border-top: 1px solid #999;

    border-left: 1px solid #999;

    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
.left1 td{
   text-align: center;
}
.left1 table th{
    height: 50px;
    background-color: #b3d4fc;
    font-size: 14px;
}
.left1 tr th,.left1 tr td{
    border-bottom: 1px solid #999;

    border-right: 0px;
}
.circle{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
}
.right1{
    width: 25%;
    height: 610px;
    border: 1px solid #b8b8b8;
    margin-right: 2%;
    float: right;
}
.divTwo span{
    font-size: 18px;
}
.name{
    width: 180px;
    float: left;
    text-align: right;
}
.name2{
    width: 110px;
    float: left;
    text-align: right;
}
.input{
    float: left;
    line-height: 65px;
    margin-left: 20px;
    height: 100%;
}

.ivu-btn.disabled, .ivu-btn.disabled.active, .ivu-btn.disabled:active, .ivu-btn.disabled:focus,
.ivu-btn.disabled:hover, .ivu-btn[disabled], .ivu-btn[disabled].active, .ivu-btn[disabled]:active,
.ivu-btn[disabled]:focus, .ivu-btn[disabled]:hover, fieldset[disabled] .ivu-btn, fieldset[disabled],
.ivu-btn:active, fieldset[disabled] .ivu-btn:focus, fieldset[disabled] .ivu-btn:hover{
    color: #ffffff !important;
    background-color: #0693ff !important;
    border-color: #0693ff !important;
}
.footer{
    position: fixed;
    /* left: 0px; */
    bottom: 0px;
    width: 90%;
    height: 35px;
    background-color: #e6e6e6;
    z-index: 1;
    float: right;
}

.footer ul {
    text-align: center;
    width: 100%;
}
.rdiv{
    display:  inline-block;
    float: left;
    width: 50px;
    height: 70px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
.rimg{
    width: 50px;
    height: 50px;
}
.rname{
    width: 50px;
    height: 20px;
}
.image-remove {
    background-color: #0091fe;
    color: #ececec;
    font-size: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    transform: rotate(45deg);
    cursor: pointer;
    /* opacity: 0.5; */
    top: 2px;
    right: -2px;
    position: absolute;
}
#courseware{    margin-top: 10px;}
