.layout-con{
    height: 100%;
    width: 100%;
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}
.collapsed-menu span{

    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
.logo{
    display: block;
    width: 45px;
    height: 25px;
    margin-left: -5px;
    background-image: url('~@/assets/css/images/LOGO.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
    padding: 20px 24px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.ivu-layout-sider{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    background: #2c303b;
    min-width: 0;
}
.ivu-layout-sider-trigger{
    position: fixed;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #2c303b;
    z-index: 1000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.ivu-menu-dark{
    background: #2c303b;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical
.ivu-menu-item-active:not(.ivu-menu-submenu):hover, .ivu-menu-dark.ivu-menu-vertical
.ivu-menu-submenu-title-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover{
    background: #f78803;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical
.ivu-menu-submenu-title-active:not(.ivu-menu-submenu){
    color: #f5f5f5;
}
.body{
    display: block;
    height: 1030px;
    margin: 16px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.circle{
    display: block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    padding-top: 15px;
}
.mainBodyOne{
    display: block;
    height: auto;
    width: 53%;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 5px;
    float: left;
    min-height: 970px;
    padding-bottom: 20px;
}
.mainBodyTwo{
    display: block;
    height: auto;
    width: 46%;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 5px;
    float: right;
    min-height: 970px;
}
.ivu-layout-header{
    background: #f78803;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
    border-radius: 5px 5px 0px 0px;
}
.ivu-layout-content{
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: 1030px;
    margin: 16px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.box{
    display: block;
    height: 135px;
    width: 215px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-left: 60px;
    margin-top: 25px;
    float: left;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 3px 1px -1px #d7d7d7;
}
.top{
    display: block;
    height: 355px;
}
.footerOne{
    display: block;
    height: 135px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-left: 95px;
    float: left;
    margin-top: 50px;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 3px 1px -1px #d7d7d7;
    color: #ffffff;
}
.minOne{
    display: block;
    height: 35px;
}
.minTwo{
    display: block;
    height: 65px;
}
.minOne h3{
    color: #f68903;
    font-weight: bold;
    line-height: 35px;
    font-size: 15px;
    padding-left: 10px;
}
.hrOne{
    display: block;
    height: 1px;
    background-color: #d7d7d7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.countOne{
    display: block;
    height: 100%;
    width: 30%;
    float:left;
}
.countTwo{
    display: block;
    height: 100%;
    width: 70%;
    float:left;
}
.countOne h2{
    color: #f68903;
    text-align: center;
    line-height: 136px;
}
.byOne{
    height: 50%;
}
.byTwo{
    height: 50%;
}
.byOne span{
    padding-left: 100px;
    font-size:20px;
    line-height:65px;
    color: #000000;
}
.byTwo span{
    padding-left: 95px;
    font-size:20px;
    line-height:65px;
    color: #000000;
}
.topTwo{
    display: block;
    height: 230px;
    background-color: #00b7ff;
}
.level{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #00ff80;
}

