.body{
    display: inline-block;
    min-height: 970px;
    height: auto;
    width: 100%;
    background-color: #f3f5f7;
    color:#000000;
}
.mainHr{
    display: inline-block;
    background-color: #f5f5f6;
    width: 1%;
    height: auto;
    min-height: 970px;
}
.mainBodyOne{
    display: inline-block;
    height: auto;
    width: 53%;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 5px;
    float: left;
    min-height: 970px;
}
.mainBodyTwo{
    display: inline-block;
    height: auto;
    width: 46%;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 5px;
    float: right;
    min-height: 970px;
}
.ivu-layout-header{
    background: #f78803;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
    border-radius: 5px 5px 0px 0px;
}
.ivu-layout-content{
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    min-height: 1030px;
    margin: 16px;
    background-color: #f5f5f5;
    border-radius: 5px;
    height: auto;
}
.box{
    display: block;
    height: 135px;
    width: 29%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 3px 1px -1px #d7d7d7;
}
.top{
    display: block;
    height: 355px;
}
.footerOne{
    display: block;
    min-height: 135px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-left: 9%;
    float: left;
    margin-top:8%;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 3px 1px -1px #d7d7d7;
    color: #ffffff;
    height: auto;
}
.minOne{
    display: block;
    height: 35px;
}
.minTwo{
    display: block;
    height: 65px;
}
.minOne h3{
    color: #f68903;
    font-weight: bold;
    line-height: 35px;
    font-size: 15px;
    padding-left: 10px;
}
.hrOne{
    display: block;
    height: 1px;
    background-color: #d7d7d7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.countOne{
    display: block;
    height: 100%;
    width: 30%;
    float:left;
}
.countTwo{
    display: block;
    height: 100%;
    width: 70%;
    float:left;
}
.countOne h2{
    color: #f68903;
    text-align: center;
    line-height: 136px;
}
.byOne{
    height: 50%;
}
.byTwo{
    height: 50%;
}
.byOne span{
    padding-left: 18%;
    font-size:20px;
    line-height:65px;
    color: #000000;
}
.byTwo span{
    padding-left: 16%;
    font-size:20px;
    line-height:65px;
    color: #000000;
}
.topTwo{
    display: block;
    height: 245px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.level{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #00ff80;
}
.footerTwo{
    display: block;
    width: 90%;
    height: 722px;
    margin-left: auto;
    margin-right: auto;
}
.divOne{
    display: block;
    width: 49.9%;
    height: 50%;
    float: left;
}
.divTwo{
    display: block;
    width: 50%;
    height: 50%;
    float: left;
}
.hrTwo{
    display: block;
    height: 50%;
    background-color: #d7d7d7;
    width: 1px;
    float: left;
}
.hr{
    display: block;
    height: 1px;
    background-color: #d7d7d7;
    width: 100%;
    float: left;
}
.divOne h2{
    text-align: center;
    padding-top: 10%;

}
.y1{
    width: 100%;
    height: 50px;
}
.y1 span{
    display: block;
    width: 50%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.y2{
    width: 100%;
    height: 50px;
}
.y2 span{
    display: block;
    width: 33%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.ulDiv{
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.ulDiv li{
    float: left;
    list-style: none;
    font-size: 15px;
    width: 11%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.ulDiv li:nth-child(1){
    background-color: #fbb869;
}
.ulDiv li:nth-child(2){
    background-color: #f9b35c;
}
.ulDiv li:nth-child(3){
    background-color: #faae4f;
}
.ulDiv li:nth-child(4){
    background-color: #f6a73f;
}
.ulDiv li:nth-child(5){
    background-color: #f8a12c;
}
.ulDiv li:nth-child(6){
    background-color: #fa9926;
}
.ulDiv li:nth-child(7){
    background-color: #f69516;
}
.ulDiv li:nth-child(8){
    background-color: #f78e11;
}
.ulDiv li:nth-child(9){
    background-color: #fa8403;
}

.ulDivTwo{
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.ulDivTwo li{
    float: left;
    list-style: none;
    font-size: 15px;
    width: 11%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
.imgDiv{
    width: 100%;
    height: 50%;
}
.y3{
    width: 100%;
    height: 35px;
}
.y3 span{
    display: block;
    width: 25%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    line-height: 35px;
    text-align: center;
    color: #000000;
}
.demo-carousel {
    width: auto;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
