.body{
    display: inline-block;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    color:#000000;
    border-radius: 0px 0px 5px 5px;
}

.button{
    height: 56px;
}
.button button{
    margin: 8px 14px 8px 0px
}

.operation{
    width: 96px;
    height: 24px;
    background-color: #8095fd;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: #ffffff;
}
.select{
    height: 44px;
}
.divSelect{
    width: 360px;
    float: left;
}
.divSelectAge{
    width: 300px;
    float: left;
}
.divSelectSex{
    width: 200px;
    float: left;
}
.divSelectMin{
    width: 260px;
    float: left;
}
.selectTitle{
    width: 80px;
    float: left;
    text-align: right;
    font-size: 16px;
    line-height: 34px;
    padding-right: 12px;
}
.selectTitleSex{
    width: 40px;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    cursor: pointer;
}
.selectTitleSexBule{
    width: 40px;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    color: #8095fd;
}
.selectTitleMin{
    width: 50px;
    float: left;
    text-align: right;
    font-size: 16px;
    line-height: 34px;
    padding-right: 12px;
}
.selectValue{
    float: left;
    width: 252px;
}
.selectValueAge{
    float: left;
    width: 200px;
}
.selectValueMin{
    float: left;
    width: 183px;
}
.selected{
    height: 26px;
    width: auto;
    background-color: #789fef;
    min-width: 56px;
    float: left;
    border-radius: 20px;
    margin-top: 12px;
    padding-left: 10px;
    line-height: 26px;
    margin-right: 16px;
    color: #ffffff;
}
.selected .ivu-icon{
    float: right;
    padding-right: 10px;
    font-size: 18px;
    padding-top: 4px;

}

.selectedList{
    height: 50px;
}


.selectedPullDown{
    height: 30px;
}
.pullDown{
    height: 50px;
    padding-top: 20px;
}
.pullDown img{
    cursor: pointer;
}
.inquire{
    width: 76px;
    height: 36px;
    background-image: linear-gradient(to right, #60b0fe , #5a88fa);
    color: #ffffff;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}
.reset{
    width: 76px;
    height: 36px;
    border: 1px solid #99a8b8;
    color: #99a8b8;
    float: right;
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
    border-radius: 20px;
}
.condition{
    width: 84%;
    height: 50px;
    float: left;
}
.selectButton{
    width: 16%;
    height: 50px;
    float: left;
    padding-top: 8px;
}
.selectDiv{
    height: 46px;
}
.page span{
    float: left;
    padding-top: 3px;
    text-align: center;
    padding-left: 560px;
}
.div1Checked{
    width: 340px;
    height: 214px;
    background-color: #eceffc;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #7a90fd;
}
.div1{
    width: 340px;
    height: 214px;
    background-color: #eceffc;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #abafc2;
}
.div2Checked{
    height: 40px;
    background-color: #7a90fd;
}

.div2{
    height: 40px;
    background-color: #abafc2;
}
.div3{
    height: 170px;
    background-color: #eceffc;
}
.div4{
    width: 125px;
    height: 100%;
    float: left;
    padding: 10px;
}
.div5{
    width: 210px;
    float: left;
    height: 100%;
}
.div6{
    height: 40px;
    width: 10%;
    text-align: center;
    line-height: 40px;
    float: left;
}
.div7{
    color: #ffffff;
    float: left;
    line-height: 40px;
}
.div8{
    height: 58px;
    line-height: 58px;
}
.div9{
    width: 30%;
    font-size: 16px;
    float: left;
    padding-left: 10px;
}
.div10{
    width: 70%;
    float: left;
    font-size: 16px;
}
.lecturerClass{
    height: 560px;
}
.modelBody{
     height: 230px;
 }
.divTwo{
    line-height: 70px;
    width: 80%;
    height: 65px;
    margin-left: 20%;
    float: left;

}
.divTwo span{
    font-size: 18px;
}

.name{
    width: 22%;
    float: left;
    text-align: right;
}
.input{
    width: 75%;
    float: left;
    margin-left: 2%;
}
.modelBody{
    height:400px;
}