.layout-con{
    height: 100%;
    width: 100%;
}
.menu-item span{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 22px;
}

.ivu-menu-submenu-title .ivu-icon.ivu-icon-ios-arrow-down.ivu-menu-submenu-title-icon {
    display: none !important;
}
.collapsed-menu span{

    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
.logo{
    display: block;
    width: 45px;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('~@/assets/css/images/LOGO.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
    padding: 20px 24px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ivu-layout-sider{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    background: #2c303b;
    min-width: 0
}


.ivu-layout-sider-trigger{
    position: fixed;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #2c303b;
    z-index: 1000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ivu-menu-dark{
    background: #2c303b;
}

.ivu-layout-content {
    flex: auto;
    box-shadow: 0 0 50px -30px #666;
    margin: 15px;
    border-radius: 5px;
}
.ivu-layout-content .headers{
    display: block;
    width: 100%;
    background: #f78803;
    padding-left: 50px;
    padding-top: 20px;
    height: 64px;
    line-height: 64px;
    border-radius: 5px 5px 0px 0px;
}
.circle{
    display: block;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    float:left;
}
.headers span{
    font-size: 18px;
    font-weight: bold;
    display: block;
    float: left;
    height: 40px;
    padding-left: 1%;
    line-height: 27px;
    color: #ffffff;

}