.body{
    display: inline-block;
    min-height: 1080px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}
.topOne{
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
.divOne{
    display: block;
    height: 70px;
    width: 360px;
    float: left;
    margin-left:45px;
}
.divOne span {
    line-height: 70px;
    font-size: 18px;
    float: right;
    color:#000000;
}
.divOne Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.hr{
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    height: 10px;
    float: right;
}
.button{
    display: inline-block;
    min-height: 70px;
    height: auto;
    width: 100%;
}
.button Button {
    margin-left: 20px;
    margin-top: 20px;
}
.bodyTwo{
    width: 1635px;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    height: 50px;
    width: 100%;
    float:left;
    margin-top: 20px;
}

.footer ul {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
