.body{
    display: inline-block;
    min-height: 1080px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}
.topOne{
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
.divOne{
    display: block;
    height: 70px;
    width: 360px;
    float: left;
    margin-left:45px;
}
.divOne span {
    line-height: 70px;
    font-size: 18px;
    float: right;
}
.divOne Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.hr{
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    height: 10px;
    float: right;
}
.button{
    display: inline-block;
    min-height: 70px;
    height: auto;
    width: 100%;
}
.button Button {
    margin-left: 20px;
    margin-top: 20px;
}
.courseware{
    display: inline-block;
    width: 22.5%;
    height: 315px;
    margin-top: 40px;
    margin-left: 2%;
    background-color: #f8f9fb;
    border: 2px solid transparent;
    box-shadow: 3px 3px 3px 1px #d7d7d7;
}
.courseware:hover{
    background-color: #ffffff;
    border: 2px solid #0090ff;
    box-shadow: 3px 3px 3px 1px #cce9ff
}
.div1{
    height: 50px;
    border-bottom: 1px solid slategrey;
}
.div1 span{
    font-size: 18px;
    line-height: 50px;
    margin-left: 20px;
}
.div2{
    height: 180px;
}
.div3{
    height: 60px;
    border-bottom: 1px solid slategrey;
}
.left{
    height: 100%;
    width: 50%;
    float: left;
}

.right
{
    float: left;
    height: 100%;
    width: 50%;
}
.right span{
    float: right;
    margin-top: 15px;
    font-size: 18px;
    margin-right: 20px;
}

.ivu-dropdown{
    display: inline-block;
    margin-left: 45%;
}
.ivu-dropdown-menu{
    min-width: 80px;
}
.butt{
    width: 30%;
    height: 40px;
    margin-left: 35%;
    margin-top: 5%;
    color:#ffffff;
    background-color: #0090ff;
}
.courseware:hover .butt{
    color:#0090ff;
    background-color: #ffffff;
    border: 1px solid #0090ff;
}