.body{
    display: inline-block;
    min-height: 1080px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}
.topOne{
    display: block;
    height: 140px;
    width: 100%;
    height: auto;
    float: right;
    min-height: 140px;
}
.divOne{
    display: block;
    height: 70px;
    width: 360px;
    float: left;
    margin-left:45px;
}
.divTwo{
    line-height: 70px;
    width: 80%;
    height: 14%;
    margin-left: 10%;
    float: left;

}
.divTwo span{
    font-size: 18px;
}
.divOne span {
    line-height: 70px;
    font-size: 18px;
    float: right;
    color:#000000;
}
.name{
    width: 22%;
    float: left;
    text-align: right;
}
.input{
    width: 75%;
    float: left;
    margin-left: 2%;
}
.divOne Button{
    line-height: 30px;
    font-size: 18px;
    float: right;
    height: 40px;
    width: 165px;
    margin-top: 13px;
    background-color: #ffe100;
    color:#ffffff;
}
.hr{
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    height: 10px;
    float: right;
}
.button{
    display: inline-block;
    min-height: 70px;
    height: auto;
    width: 100%;
}
.button Button {
    margin-left: 20px;
    margin-top: 20px;
}
.people{
    display: inline-block;
    width: 395px;
    height: 285px;
    background-image: url('~@/assets/css/images/border.png');
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-bottom: 20px;
}
.people:hover{
    background-image: url('~@/assets/css/images/border2.png');
    background-repeat: no-repeat;
}
.people-selected{
    display: inline-block;
    width: 395px;
    height: 285px;
    background-image: url('~@/assets/css/images/border2.png');
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-bottom: 20px;
}

.divY{
    padding: 20px 0;
    background-image: url('~@/assets/css/images/top.png');
    background-repeat: no-repeat;
}
.divU{
    padding: 20px 0;
    background-image: url('~@/assets/css/images/bottom.png');
    background-repeat: no-repeat;
}
.y1{
    display: inline-block;
    min-height: 105px;
    width: 100%;
    height: auto;
}
.headPhotos{
    width: 105px;
    height: 105px;
    float: left;
}
.circle{
    display: block;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
}
.oCircle{
    display: block;
    width: 70px;
    height: 70px;
    background-color: #e2e2e2;
    border-radius: 50%;
    float: left;
    margin-left: 13%;
    margin-top: 3%;
}
.photos{
    width: 62px;
    height: 62px;
    float: right;

}
.pTop{
    display: block;
    height: 16px;
    width: 16px;
    background-color: #c5e8ff;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 32px;
}
.pButtom{
    background-image: url('~@/assets/css/images/er.png');
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-left: -16px;
    margin-top: 5px;
}
.top{
    width: 175px;
    height: 105px;
    float: left;
}
.top Button, .top Button:hover{
    width: 109px;
    height: 37px;
    background-image: url('~@/assets/css/images/particulars.png');
    background-repeat:no-repeat;
    background-position: center;
    margin-left: 20%;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
}
.y2{
    width: 30%;
    min-height: 170px;
    float: left;
}
.y3{
    width:65%;
    min-height:170px;
    float:left;
}
.y2 p{
    color:#000000;
    font-weight: bold;
    font-size:16px;
    line-height:33px;
    text-align:left;
    padding-left: 20%;
}
.y3 p{
    color: #0b93ff;
    font-weight: bold;
    font-size:16px;
    line-height:33px;
    text-align: right;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 27px;
    background-color: #fb942e;
    z-index: 1;
}

.footer ul {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
p span{
    margin-left: 10px;
}

.button button .ivu-icon {
    font-size: 18px !important;
}
.imgCheck {
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 18px;
    background-color: #c5e8ff;
    border-radius: 50%;
}
.addBody{
    width: 100%;
    height: 675px;
}
.particularsBody{
    width: 100%;
    height: 675px;
    background-color: #f2f2f2;
}
.minBody{
    width: 100%;
    height: 675px;
}
.left{
    width: 50%;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    float: left;
}
.right{
    width: 49%;
    height: 100%;
    float: left;
}
.box{
    width: 100%;
    height: 30%;
    float: left;
}
.box span{
     font-size: 18px;
 }

.boxLeft{
    width: 20%;
    float: left;
    text-align: right;
    margin-top: 15%;
}
.boxRight{
    width: 75%;
    float: left;
    margin-left: 2%;
}
.boxOne{
    width: 30%;
    height: 100%;
    background-color: #f2f2f2;
    float: left;
 }
.oneTop{
     width: 100%;
     height: 38%;
     background-color: #ffffff;
 }
.pop{
    background-image: url('~@/assets/css/images/checked.png');
    background-repeat:no-repeat;
    margin-top: 5px;
    margin-left: 32px;
    height: 16px;
    width: 16px;

}
.oneButtom{
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    margin-top: 4%;
}
.twoTop{
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}
.twoMiddle{
    width: 100%;
    height: 24%;
    margin-top: 2%;
    background-color: #ffffff;
}
.twoButtom{
    width: 100%;
    height: 24%;
    margin-top: 2%;
    background-color: #ffffff;

}
.boxTwo{
    width: 36%;
    height: 100%;
    background-color: #f2f2f2;
    float: left;
    margin-left: 2%;
}
.boxThree{
    width: 30%;
    height: 100%;
    background-color: #f2f2f2;
    float: left;
    margin-left: 2%;
}
.three{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.oTop{
    width: 100%;
    height: 30%;
}
.oTop1{
    width: 25%;
    height: 100%;
    float: left;
}
.oTop2{
    width: 45%;
    height: 100%;
    float: left;
}
.oTop3{
    width: 30%;
    height: 100%;
    float: left;
}
.top2{
    width: 100%;
    height: 50%;
}
.top2 span{
    font-size: 15px;
    padding-left: 7%;
    line-height: 35px;
    color: #000000;
}
.buttonTop{
    width: 100%;
    color: #f78803;
    padding-top: 1%;
    text-align: center;
    border-bottom: 1px solid #e5f4ff;
}
.text{
    width: 100%;
    height: 17%;
    margin-top: 3%;
    padding-left: 6%;
    font-size: 16px;
    color: #000000;
}
.twoLeft{
    width: 60%;
    float: left;
}
.twoTextL{
    width: 100%;
    height: 17%;
    margin-top: 3%;
    padding-left: 6%;
    font-size: 16px;
    color: #000000;
}
.twoRight{
    width: 40%;
    float: left;
}
.twoTextR{
    width: 100%;
    height: 17%;
    margin-top: 3%;
    padding-left: 6%;
    font-size: 16px;
    color: #000000;
    padding-top: 4%;
}
.middleHr{
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
}
.middleHrBu{
    width: 100%;
    height: 1px;
    background-color: #e5f4ff;
}
.middle{
    width: 100%;
    height: 25%;
    padding-left: 6%;
    font-size: 16px;
    color: #000000;
    margin-top: 5%;
}
.threeDiv{
    width: 100%;
    min-height: 10%;
    padding-left: 5%;
    padding-top: 5%;
    height: auto;
}
.com{
    width: 70px;
    height: 25px;
    margin-left: 17px;
    margin-top: 3px;
    float: left;
    text-align: center;
    line-height: 25px;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 3px 3px -1px #d7d7d7;
}
.threeDiv p{
    margin-bottom: 2%;
}