#home
    search(@result-click="resultClick",
        @on-change="getResult",
        :results="results",
        v-model="value",
        auto-scroll-to-top,
        @on-focus="onFocus",
        @on-cancel="onCancel",
        @on-submit="onSubmit",
        ref="search")
    img(src="https://ws1.sinaimg.cn/large/663d3650gy1fq685v5csyj208c06ygm0.jpg")
    group
        cell(title="keyword") {{ value }}
    div(style="padding:15px;")
        x-button(@click.native="setFocus", type="primary") set focus
    group
        cell(title="static position demo",
            is-link,
            link="/component/search-static")
