#home
    .freamwork
        .inputName
            Input(prefix="ios-contact", v-model="username",size="large")
            Input(prefix="md-unlock",type="password", v-model="password", @keyup.enter.native="login",size="large",:style={marginTop: '5%'})
            Button(@click="login") 立即登录