#home
    div(style="height:44px;")
        sticky(
            ref="sticky",
            :offset="46",
            :check-sticky-support="false",
            )
            tab(:line-width="1")
                tab-item(selected) 未培训
                tab-item 已培训
    p(v-for="i in 20") {{i}}