#app .freamwork .loginBox .inputName .ivu-input {
    height: 50px;
    line-height:50px;
    margin-top: 5%;
}
#app .qq2 .ivu-date-picker input {
    background-color: #01183e !important;
    border: 1px solid #0068ff !important;
    color: #ffffff;
}

#app .qq3 .ivu-date-picker input {
    background-color: #01183e !important;
    border: 1px solid #0068ff !important;
    color: #ffffff;
}


#app .freamwork .loginBox .ivu-input-prefix i, #app .freamwork .loginBox .ivu-input-suffix i{
    font-size: 30px;
    line-height: 80px;
    color: #f68903;
    margin-left: 5px;
}
#app .freamwork .loginBox .ivu-btn, #app .freamwork .loginBox .ivu-btn:active, #app .freamwork .loginBox .ivu-btn:focus{
    outline: 0;
    width: 365px;
    height: 50px;
    color: #FFF;
    font-size:20px;
    margin-top: 5%;
    background-color: #f68903;
}
#app .ivu-layout-sider-trigger {
    position: absolute;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #2c303b;
    z-index: 1000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ivu-table-header table thead tr th {
    background-color: #c5e8ff !important;
    font-size: 18px !important;
}
.ivu-table-body table tbody tr:nth-child(even) td {
    background-color: #f8f9fb !important;
}
#communal .rowClasses .ivu-table-cell {
    white-space: nowrap !important;
}
.ivu-table-body table tbody tr td {
    height: 35px !important;
    font-size: 16px !important;
}
.ivu-table-body table tbody tr:hover>td {
    background-color: #fdefc6 !important;
}

button i {
    font-size: 18px;
    font-weight: bold;

}

#app .ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-header{
    text-align: center !important;
    background-color: yellowgreen !important;
}
#app .layout .ivu-layout .ivu-layout{
    background-color: #f2e9cc;
}
#app .layout .ivu-layout .ivu-layout .ivu-layout-content{
    box-shadow: 0 0 0px 0px #fff;
}
#app .ivu-progress .ivu-progress-outer .ivu-progress-inner{
    background-color: transparent !important;
}
