#app .freamwork .loginBox .inputName .ivu-input {
    height: 50px;
    line-height:50px;
    margin-top: 5%;
}

#app .freamwork .loginBox .ivu-input-prefix i, #app .freamwork .loginBox .ivu-input-suffix i{
    font-size: 30px;
    line-height: 80px;
    color: #f68903;
    margin-left: 5px;
}
#app .freamwork .loginBox .ivu-btn, #app .freamwork .loginBox .ivu-btn:active, #app .freamwork .loginBox .ivu-btn:focus{
    outline: 0;
    width: 365px;
    height: 50px;
    color: #FFF;
    font-size:20px;
    margin-top: 5%;
    background-color: #f68903;
}
#app .ivu-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #2c303b;
    z-index: 1000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
