.body
    template
        Tabs(value="团体评级",@on-click="toggle",:style={height:'1000px'})
            TabPane(label="团体评级",name="团体评级",icon="ios-paper-outline")
                .topOne
                    .cdivOne
                        .name2
                            span 时间：
                        .input2
                            Row
                                Col(span="12")
                                    DatePicker(v-model="selectTime",type="date",placeholder="请选择",style="width: 240px")
                    .search
                        Button(@click="this.store.search") 搜索
                .hr
                .button
                    Button(type="primary", ghost, icon="ios-people-outline",@click="viewData()") 创建团体评价

                .bodyTwo
                    Table(border, ref="selection", :columns="getTeamColumns()", :data="getData()", :style={width: '100%'})
                        template(slot-scope="{row, index }",slot="operation")
                            Dropdown(@on-click = "change")
                                a(href="javascript:void(0)" :style={"font-size": "16px"})
                                    span 详细操作
                                    Icon(type="md-arrow-dropdown" )
                                DropdownMenu(slot="list")
                                    DropdownItem(:name="row.id")
                                        Icon(type="ios-create-outline" )
                                        span 人员评级

            TabPane(label="人员评级",name="人员评级",icon="ios-paper-outline")
                .topOne

                    .divOne
                        span 姓名：
                            Input(v-model="name",clearable,style="width: 260px")
                    .divOne
                        span 等级：
                            Select(filterable,clearable,style="width:260px",v-model="selectRate")
                                Option(v-for="item in getCommtenGrade()", :value="item.name", :key="item.name") {{item.name}}
                    .divOne
                        span 级别：
                            Select(filterable,clearable,style="width:260px",v-model="selectRank")
                                Option(v-for="item in getCommtenRank()", :value="item.name", :key="item.name") {{item.name}}
                    .search
                        Button(@click="this.store.search") 搜索
                .hr
                //.button
                //    //Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addRate=!addRate",v-if="checkedUser.length>0") 评定
                //    //Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addRate=!addRate",v-else,disabled) 评定

                .bodyTwo2
                    //@on-select="onSelect",@on-select-cancel="onSelectCancel",@on-select-all="onSelectAll",@on-select-all-cancel="onSelectAllCancel")
                    Table(border, ref="selection", :columns="getColumns()", :data="getData()", :style={width: '100%'})
                        template(slot-scope="{row, index }",slot="operation")
                            Button(type="primary",size="large", style="margin-right: 5px",@click="addRateName(row.eafId,row.eafName,row.workType)") 评定
                            Button(type="primary",size="large",@click="view(row.eafId)") 查看
        .footer
            Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange",:page-size=20)

    Modal(:value="addRate",title="技能评价",@on-ok="ok()",@on-cancel="cancel()",width='70%')
        .addBody
            .divTwo
                .name
                    span 评定人员
                .input
                    Input(clearable,:style="{width: '260px'}",size=large,:value="user",disabled)
            .divTwo
                .name
                    span 评定工种
                    span(:style={'color': 'red'}) *
                .input
                    Select(clearable,filterable,:style="{width: '260px'}",v-model="rateWorkType")
                        Option(v-for="item in getWorkType()", :value="item.name",:key="item.name") {{item.name}}
            .divTwo
                .name
                    span 评定级别
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:260px",v-model="grade")
                        Option(v-for="item in getCommtenGrade()", :value="item.name", :key="item.name") {{item.name}}
            .divTwo
                .name
                    span 评定等级
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:260px",v-model="rank")
                        Option(v-for="item in getGrade()", :value="item.name", :key="item.name") {{item.name}}
            .divTwo
                .name
                    span 评定时间
                    span(:style={'color': 'red'}) *
                .input
                    Row
                        Col(span="12")
                            DatePicker(type="date",placeholder="请选择",style="width: 240px",v-model="evaluateTime")
    Modal(:value="addTeamRate",title="创建团队评级",@on-ok="okTeamRate()",@on-cancel="cancelTeamRate()",width='70%')
        .addBody1
            .top
                .name2
                    span(:style={'font-size': '18px'}) 团队名称
                    span(:style={'color': 'red','font-size': '18px'}) *
                .input
                    Input(clearable,:style={'width': '995px'},placeholder="请输入团队名称",v-model="insertRatingname")
            .top
                .name2
                    span(:style={'font-size': '18px'}) 备注
                    span(:style={'color': 'red','font-size': '18px'}) *
                .input
                    Input(type="textarea",clearable,:style={'width': '995px'},size=large,placeholder="请输入备注",v-model="insertRemark")
            .top
                .left1
                    Button(type="primary",ghost,style="margin-left: 10px",@click="addSelected()") 添加所选
                    Input(v-model="selectUserName",:style={
                        'width': '100px',
                        'margin-left': '10px'
                    },placeholder="名字",icon="ios-search-outline",@on-click="search")

                    //Select(clearable,filterable,:style={
                    //    'width': '100px',
                    //    'margin-left': '10px'
                    //},placeholder="状态",v-model="selectLeave")
                    //    Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}

                    Table(border=false, ref="selection", :columns="getColumnsTeam()", :data="getDataTeam()",
                    :style="{'margin-top': '10px'}",
                    @on-select="handleSelectRow",@on-select-all="handleSelectAll",
                    @on-select-cancel="handleSelectRowCancel",@on-select-all-cancel = "handleSelectAllCancel"
                    )
                        template(slot-scope="{ row }" ,slot="photo")
                            img(:src="'http://113.105.121.93:1818/'+row.cwrPhoto",:style={
                                'width': '50px', 'height': '50px',
                                'border-radius': '50%'
                            })
                        template(slot-scope="{row}",slot="leave")
                            span(v-if="row.leave==1") 在场
                            span(v-if="row.leave==2") 离场
                        template(slot-scope="{row}",slot="operation")
                            Button(v-if="offChecked(row.eafId)",type="primary",style="margin-right: 5px",@click="show(row.eafId,row.eafName,row.cwrPhoto)") 加入培训
                            Button(v-else,type="primary",ghost,style="margin-right: 5px") 加入培训

                    Page(:total="pageInTotal",show-elevator,show-total,
                    @on-page-size-change="onPageSizeInChange",@on-change="onPageIndexInChange",:style={
                        'text-align': 'center',
                        'margin-top': '10px'
                    })
                .right1
                    .rdiv(v-for="item in this.store.checkeds")
                        .rimg
                            img(:src="'http://113.105.121.93:1818'+item.photo",:style={
                                'width': '50px', 'height': '50px',
                                'border-radius': '50%'
                            })
                            span(class="image-remove",@click="show(item.id,item.name,item.photo)") +
                        .rname
                            span {{item.name}}
    Modal(:value="addViewTeamRate",title="人员评级",@on-ok="okViewTeamRate()",@on-cancel="cancelViewTeamRate()",width='70%')
        .addBody1
            .topOne
                .divOne
                    span 姓名：
                        Input(v-model="selectViewName",clearable,style="width: 260px")
                .divOne
                    span 身份证：
                        Input(v-model="selectViewIdCard",clearable,style="width: 260px")
                .search
                    Button(@click="this.store.searchTeamUserInfo") 搜索
            .bodyTwo2
                Table(border, ref="selection", :columns="getViewColumns()", :data="getViewData()", :style={width: '100%'})
                    template(slot-scope="{ row }" ,slot="photo")
                        img(:src="'http://113.105.121.93:1818/'+row.cwrPhoto",:style={
                            'width': '50px', 'height': '50px',
                            'border-radius': '50%'
                        })
                    template(slot-scope="{row, index }",slot="operation")
                        Button(type="primary",size="small", icon="ios-add-circle-outline",@click="addRateName(row.eafId,row.eafName,row.workType)") 评定
                Page(:total="pageViewTotal",show-elevator,show-total,
                @on-page-size-change="onPageSizeViewChange",@on-change="onPageIndexViewChange",:style={
                    'text-align': 'center',
                    'margin-top': '10px'
                })
    Modal(:value="viewTeamRate",title="评定记录",@on-ok="okViewTeamRate()",@on-cancel="cancelViewTeamRate()",width='70%')
        .addBody1
            .bodyTwo2
                Table(border, ref="selection", :columns="getViewRateColumns()", :data="getViewRateData()", :style={width: '100%'})

                Page(:total="pageViewRateTotal",show-elevator,show-total,
                @on-page-size-change="onPageSizeViewRateChange",@on-change="onPageIndexViewRateChange",:style={
                    'text-align': 'center',
                    'margin-top': '10px'
                })