.body
    .topOne
        .divOne
            span 参见单位：
                Input(v-model="selectConstructionUit",clearable,style="width: 260px")
        .divOne
            span 项目名称：
                Input(v-model="selectProjectName",clearable,style="width: 260px")
        .divOne
            span 姓名：
                Input(v-model="name",clearable,style="width: 260px")
        .divOne
            span 工种：
                Select(filterable,clearable,style="width:260px",v-model="selectType")
                    Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
        .divOne
            span 状态：
                Select(filterable,clearable,style="width:260px",v-model="selectStatus")
                    Option(v-for="item in getMenus()", :value="item.key", :key="item.key") {{item.value}}
        .divOne
            span 评级：
                Select(filterable,clearable,style="width:260px",v-model="selectRate")
                    Option(v-for="item in getCommtenGrade()", :value="item.key", :key="item.key") {{item.value}}
        .search
            Button(@click="this.store.search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addRate=!addRate") 评级
        Button(type="primary", ghost, icon="ios-log-in") 导入
        Button(type="primary", ghost, icon="ios-log-out") 导出

    .bodyTwo
        Table(border, ref="selection", :columns="getColumns()", :data="getData()",@on-selection-change="handleSelectRow")
            //template(slot-scope="{row, index }",slot="operation")
            //    a(href="javascript:void(0)" :style={"font-size": "16px"})
            //        span 编辑
    .footer
        Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addRate",title="技能评价",@on-ok="ok()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 评级人员
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="modifyBy")
            .divTwo
                .name
                    span 评选级别
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:260px",v-model="rate")
                        Option(v-for="item in getCommtenGrade()", :value="item.value", :key="item.key")
            .divTwo
                .name
                    span 评选等级
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:260px",v-model="grade")
                        Option(v-for="item in getGrade()", :value="item.value", :key="item.key")

