.body
    .topOne
        //.divOne
        //    span 参建单位：
        //        Input(v-model="selectConstructionUit",clearable,style="width: 260px")
        //.divOne
        //    span 项目名称：
        //        Input(v-model="selectProjectName",clearable,style="width: 260px")
        .divOne
            span 姓名：
                Input(v-model="name",clearable,style="width: 260px")
        //.divOne
        //    span 工种：
        //        Select(filterable,clearable,style="width:260px",v-model="selectType")
        //            Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
        //.divOne
        //    span 状态：
        //        Select(filterable,clearable,style="width:260px",v-model="selectStatus")
        //            Option(v-for="item in getMenus()", :value="item.key", :key="item.key") {{item.value}}
        .divOne
            span 等级：
                Select(filterable,clearable,style="width:260px",v-model="selectRate")
                    Option(v-for="item in getCommtenGrade()", :value="item.name", :key="item.name") {{item.name}}
        .search
            Button(@click="this.store.search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addRate=!addRate",v-if="checkedUser.length>0") 评定
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addRate=!addRate",v-else,disabled) 评定

    .bodyTwo
        Table(border, ref="selection", :columns="getColumns()", :data="getData()", :style={width: '100%'},
        @on-select="onSelect",@on-select-cancel="onSelectCancel",@on-select-all="onSelectAll",@on-select-all-cancel="onSelectAllCancel")
            //template(slot-scope="{row, index }",slot="operation")
            //    a(href="javascript:void(0)" :style={"font-size": "16px"})
            //        span 编辑
    .footer
        Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange",:page-size=20)

    Modal(:value="addRate",title="技能评价",@on-ok="ok()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 评定人员
                .input
                    Input(clearable,:style="{width: '260px'}",size=large,:value="user.join(',')",type="textarea")
            .divTwo
                .name
                    span 评定级别
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:260px",v-model="grade")
                        Option(v-for="item in getCommtenGrade()", :value="item.name", :key="item.name") {{item.name}}
            .divTwo
                .name
                    span 评定等级
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:260px",v-model="rank")
                        Option(v-for="item in getGrade()", :value="item.name", :key="item.name") {{item.name}}
            .divTwo
                .name
                    span 评定时间
                    span(:style={'color': 'red'}) *
                .input
                    Row
                        Col(span="12")
                            DatePicker(type="date",placeholder="请选择",style="width: 240px",v-model="evaluateTime")

