#checkevaluate
  p.name 技能鉴定
  .checked
    p.title 已选条件
    template(v-for="(item, name) in searchCheckeds")
      span(v-if="item && name !== 'time'")
        span {{item}}
        Icon(type="md-close" @click="clearSearch(item)")
      span(v-else-if="item && name == 'time' && item[0]")
        span {{item}}
        Icon(type="md-close" @click="clearSearch(item)")
    .search-wrap
      span.search(@click="search") 查询
      span(@click="resetSearch") 重置
  .input-wrap(:class="hiddden === 'hiddden' ? 'hiddden' : ''")
    span.title 姓&emsp;&emsp; 名
      Input(v-model="searchCheckeds.name" placeholder="请输入" style="width: 200px;margin-left: 20px;")
    span(class="title margin") 所属项目
      Input(v-model="searchCheckeds.project" placeholder="请输入" style="width: 200px;margin-left: 20px;")
    span(class="title margin") 所属单位
      Select(v-model="searchCheckeds.company" style="width:200px;margin-left: 20px;")
        Option(v-for="item in companyList" :value="item.name" :key="item.id") {{item.name}}
    span(class="title margin") 工&emsp;&emsp; 种
      Select(v-model="searchCheckeds.typeWork" style="width:200px;margin-left: 20px;")
        Option(v-for="item in typeWorkList" :value="item.id" :key="item.id") {{item.name}}
    br
    span.title 级&emsp;&emsp; 别
      Select(v-model="searchCheckeds.grade" style="width:200px;margin-left: 20px;")
        Option(v-for="item in gradeList" :value="item.id" :key="item.id") {{item.name}}
    span(class="title margin") 等&emsp;&emsp; 级
      Select(v-model="searchCheckeds.class" style="width:200px;margin-left: 20px;")
        Option(v-for="item in classList" :value="item.id" :key="item.id") {{item.id}}
    span(class="title margin") 评级时间
      DatePicker(type="daterange" show-week-numbers placement="bottom-end" placeholder="请选择" style="width: 200px" v-model="searchCheckeds.time")
  .line(@click="showTable" :class="hiddden === 'hiddden' ? '' : 'all'")
  .button
    p
      Icon(type="ios-add-circle-outline")
      span 新增评级
    p
      Icon(type="md-list-box")
      span 查看统计
    p
      Icon(type="md-share-alt")
      span 导&emsp;&emsp; 出
  .table-wrap
  .page
    Page(:total="100" show-total show-elevator :page-size="pageSize" @on-change="pageChange")