.body
    .divOne
        span 姓名：
            Input(clearable,style="width: 200px",v-model="selectName")
    .search
        Button(@click="this.store.search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-log-out",@click="commentsExport()") 导出
    .hr
    .people(v-for="(item, index) in getComments()", :value="item.eafId", @click="clickChecked(item.eafId)", :key="index")
        .circle
            img(:src="'/api/workerlib/preview/people/photo/'+item.id",:style={'width':'100%','height':'100%', 'border-radius': '50%'},v-if="item.photo")
            img(:src="'http://113.105.121.93:1818'+item.cwrPhoto",:style={'width':'100%','height':'100%', 'border-radius': '50%'},v-else-if="item.cwrPhoto")
            img(src="~@/assets/css/images/headerPicture.png",:style={'width':'100%','height':'100%', 'border-radius': '50%'},v-else)
        .name
            span {{item.eafName}}
        .photos
            div(:class="isChecked(item.eafId) ? 'pop' : 'pTop'")
        Rate(disabled,:value="Number(item.synthesize)",allow-half)
        span(:style={'color': '#f78803','margin-left':'70px','font-size':'18px'}) {{item.synthesize}}
        .comment
            .com 好评{{item.commGood}}
            .com 中评{{item.commMiddle}}
            .com 差评{{item.commBad}}
        .y1
            span(v-if="item.workType",:style={
                'color': '#000000', 'font-weight': 'bold', 'font-size': '15px'
            }) 所属工种:
        span(v-if="item.workType",:title="item.workType",:style={
            'display': 'inline-block',
            'width': '90%',
            'overflow': 'hidden',
            'textOverflow': 'ellipsis',
            'whiteSpace': 'nowrap',
            'margin-left': '14px',
            'height': '48px'
        }) {{item.workType}}
        span(v-else,title="暂无工种",:style={
            'display': 'inline-block',
            'width': '90%',
            'overflow': 'hidden',
            'textOverflow': 'ellipsis',
            'whiteSpace': 'nowrap',
            'margin-left': '14px',
            'height': '48px',
            'color': 'red',
            'text-align': 'center'
        }) 暂无工种
        .y2
            Button(type="primary", ghost,@click="details(item.eafId)") 查看详情
            Button(type="primary", ghost,@click="addCommtentlist(item.eafId)") 添加评价

    .footer
        Page(:total="this.store.totalRecords",show-sizer,show-elevator,show-total,
        @on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addCommtent",title="添加评价",@on-ok="ok()",@on-cancel="cancel()",width='70%',:loading = "loading")
     .maxBody
         Tabs(value="不良评价",@on-click="toggle")
             TabPane( label="不良评价",name="不良评价")
                 .div
                     .d1
                         span 选择项目
                         span(:style={'color': 'red'}) *
                     .d2
                         Select(clearable,filterable,style="width:380px",v-model="insertProject",v-if="this.store.projectList.length>0")
                             Option(v-for="item in getProjectList()", :value="item.project_name", :key="item.project_name") {{item.project_name}}
                         Select(clearable,filterable,style="width:380px",v-model="insertProject",disabled,v-else)
                         span(:style={'color': 'red','font-size':'12px','margin-left':'10px'}) (暂无项目)
                             //Option(v-for="item in getProjectList()", :value="item.project_name", :key="item.project_name") {{item.project_name}}
                 .div
                     .d1
                         span 不良记录评价
                         span(:style={'color': 'red'}) *
                     .d2
                         Input(clearable,style={'width': '380px' ,'height':'70px'},size=large,type="textarea",v-model="insertDescription")
                 .div
                     .d1
                        span 事件时间
                        span(:style={'color': 'red'}) *
                     .d2
                        DatePicker(type="date",v-model="insertAppraiseTime")
                 .div
                     .d1
                         span 处罚
                         span(:style={'color': 'red'}) *
                     .d2
                         Select(clearable,style="width:380px",v-model="insertPunishment")
                             Option(v-for="item in getCommentType()", :value="item.name", :key="item.name") {{item.name}}
                 .div
                     .d1
                         span 添加图片
                     .d2

                         Upload(type="drag",action="/api/workerlib/appraise_photo/photo/upload",
                         :on-success="handleSuccessPhoto",:format="['jpg','jpeg','png']",:on-format-error="handleFormatError",
                         :style={'width': '30%'})
                             div(style="padding: 20px 0")
                                 Icon(type="ios-add" size="52" style="color: #3399ff")
                                 p 点击上传
                         div(v-for="item in upload()") {{item}}
             TabPane( label="综合评价",name="综合评价",style="height: 430px")
                .yu1
                    .dd
                        .m1
                            span 选择项目
                            span(:style={'color': 'red'}) *
                        .m2
                            Select(clearable,filterable,style="width:380px",v-model="insertProject",v-if="this.store.projectList.length>0")
                                Option(v-for="item in getProjectList()", :value="item.project_name", :key="item.project_name") {{item.project_name}}
                            Select(clearable,filterable,style="width:380px",v-model="insertProject",disabled,v-else)
                                Option(v-for="item in getProjectList()", :value="item.project_name", :key="item.project_name") {{item.project_name}}
                            span(:style={'color': 'red','font-size':'12px','margin-left':'10px'}) (暂无项目)
                    .dd
                        .m1
                            span 评语
                            span(:style={'color': 'red'}) *
                        .m2
                            Input(clearable,style="width: 380px",size=large,type="textarea",v-model="insertDescription")
                    .dd
                        .m1
                            span 添加图片
                        .m2
                            Upload(type="drag",action="/api/workerlib/appraise_photo/photo/upload",
                            :on-success="handleSuccessPhoto",:format="['jpg','jpeg','png']",:on-format-error="handleFormatError",
                            :style={'width': '30%'})
                                div(style="padding: 20px 0")
                                    Icon(type="ios-add" size="52" style="color: #3399ff")
                                    p 点击上传
                            div(v-for="item in upload()") {{item}}
                .yu2
                    .x(v-for="item in getAppraiseList()")
                        span {{item.name}}
                        Rate(v-model="item.score")


    Modal(:value="commtentcInfo",title="评价详情",@on-ok="okInfo()",@on-cancel="cancelInfo()",width='70%')
        .minBody
            .c1
                .c2
                    .c5
                        .c7
                            span {{this.particulars.eafName}}
                        .c8
                            .c9
                                span(:title="this.particulars.workType",:style= {
                                display: 'inline-block',
                                width: '100%',
                                overflow: 'hidden',
                                textOverflow: 'ellipsis',
                                whiteSpace: 'nowrap'
                                }) {{this.particulars.workType}}
                    .c6

                .c3
                    .ulDiv
                        ul
                            li 1
                            li 2
                            li 3
                            li 4
                            li 5
                .c4
                    .cc
                        span {{this.particulars.synthesize}}
                    Rate(:value="Number(this.particulars.synthesize)",disabled,allow-half)
            .c11
                div(v-for="item in getCommentSparticularsList()")
                    .middleHr
                    .threeDiv
                        .c12
                            .c15
                                p {{item.description}}
                            .c16
                                .c17
                                    p(v-if="item.type == 1") {{item.appraise_time}}
                                    p(v-else) {{item.createOn}}
                                .c17

                                    img(src="~@/assets/css/images/commentOne.png" :style={'width': '59px', 'height': '25px'},v-if="item.type == 1")
                                    img(src="~@/assets/css/images/commentsTwo.png" :style={'width': '59px','height': '25px'},v-else)
                        .c13

                            p(v-if="item.type == 1") 处罚：{{item.punishment}}
                            Rate(disabled,:value="Number(item.score)",allow-half,v-else)
                        .c14
                            p(:style={'color': '#1397ff', 'font-size': '16px'}) {{item.project_name}}
                            p(:style={'color': '#9b9b9b', 'font-size': '12px', 'margin-top': '45px'}) {{item.username}}

