.body
    .topOne
        .divOne
            span 项目：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            span 参见单位：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            span 项目名称：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            span 姓名：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            span 工种：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            span 状态：
                Select(v-model="model8",clearable,style="width:260px")
                    Option(v-for="item in getMenus()", :value="item.value", :key="item.key")
        .divOne
            span 类型：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            Button 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-log-in") 导入
        Button(type="primary", ghost, icon="ios-log-out") 导出
        Button(type="primary", ghost, icon="ios-remove-circle-outline") 删除

    .bodyTwo
        Table( border,ref="selection", :columns="columns4", :data="data1")