.body
    .topOne
        .divOne
            span 课程类型：
                Input(clearable,style="width: 200px" ,v-model="name")
        .divOne
            span
        .divOne
            span
        .divOne
            span
        .divOne
            Button(@click="search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addCourse=!addCourse") 新增课程
    .bodyTwo
        Table(:row-class-name="rowClassName", border, ref="selection", :columns="getColumns()", :data="getData()")
            template(slot-scope="{row, index }",slot="operation")
                Dropdown(trigger="click")
                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                        span 详细操作
                        Icon(type="md-arrow-dropdown" )
                    DropdownMenu(slot="list")
                        DropdownItem
                            Icon(type="ios-remove-circle-outline")
                            span(@click="popupUpdWorkclass(row.id)") 修改课程类型
                        DropdownItem
                            Icon(type="ios-remove-circle-outline")
                            span(@click="popupDelWorkclass(row.id)") 刪除课程类型
    .footer
        Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addCourse",title="新增课程",@on-ok="ok()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 课程类型
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="name")
    Modal(:value="updCourse",title="修改课程类型",@on-ok="yes()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 课程类型
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="name")
    Modal(:value="delCourse",title="删除课程",@on-ok="deletes()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 是否删除该课程类型
                    span(:style={'color': 'red'})
                .input
                    //Input(clearable,style="width: 345px",size=large,v-model="name")
