.body
    .topOne
        .divOne
            span 培训课程：
                Input(clearable,style="width: 260px",v-model="selectCourseName")
        .divOne
            span 课程状态：
                Select(filterable,clearable,style="width:260px",v-model="selectState")
                    Option(v-for="item in getStudy()", :value="item.name", :key="item.name") {{item.name}}
        .search
            Button(@click="this.store.search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-log-out") 导出
        Button(type="primary", ghost, icon="ios-remove-circle-outline",@click="deleteCultivate()") 删除
    .hr
    .bodyTwo
            Table(border,:columns="getColumns()", :data="getData()",@on-select="handleSelectRow",@on-select-all="handleSelectAll")
                template(slot-scope="{row, index }",slot="startTime")
                    span {{getDateFormat(row.startTime)}}
                template(slot-scope="{row, index }",slot="operation")
                    template
                        Dropdown(trigger="click",@on-click = "change",placement="top-start")
                            a(href="javascript:void(0)" :style={"font-size": "16px"})
                                span 详细操作
                                Icon(type="md-arrow-dropdown" )
                            DropdownMenu(slot="list")
                                DropdownItem(:name="row.course_id")
                                    Icon(type="ios-contact-outline")
                                    span 培训详情

    .footer
        Page(:total="pageTotal",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")
    Modal(:value="startTraining",title="开始培训",@on-ok="okStart()",@on-cancel="cancelStart()",width='75%',:loading="loading")
        .addBody1
            Input(v-model="selectUserName",:style={
                'width': '150px',
                'margin-bottom': '10px'
            },placeholder="名字",icon="ios-search-outline",@on-click="search")
            Table(border=false, ref="selection", :columns="getColumnsInfo()", :data="getDataInfo()",:row-class-name="rowClass", id="communal")
                template(slot-scope="{ row }" ,slot="photo")
                    img(:src="'/api/workerlib/preview/archives/photo/'+row.id",:style={
                        'width': '50px', 'height': '50px',
                        'border-radius': '50%'
                    })
                template(slot-scope="{ row }" ,slot="name")
                    span {{row.name}}
                    br
                    span {{row.id_number}}
                template(slot-scope="{row}",slot="whether")
                    span(v-if="row.whether==1") 通过
                    span(v-if="row.whether==2") 未通过
                    span(v-if="row.whether==3") 未开始
                template(slot-scope="{row}",slot="total_hours")
                    span {{row.total_hours}} 课时
                template(slot-scope="{row}",slot="training_time")
                    span {{row.training_time}} 小时
            Page(:total="inPageTotal",show-elevator,show-total,@on-page-size-change="onInPageSizeChange",@on-change="onPageIndexChange",:style={'text-align': 'center'})
    Modal(title="是否将以下课件删除？",v-model="onDelete",:styles="{top: '20px'}",@on-ok="okDelete()",@on-cancel="cancelDelete()")
        .divL
            .divCheck(v-for="item in this.checkAllGroup")
                p {{item.name}}
