.body
    template
        Tabs(value="线上培训",@on-click="toggle",:style={height:'1000px'})
            TabPane(label="线上培训",name="线上培训",icon="ios-paper-outline")
                .topOne
                    .divOne
                        span 培训课程：
                            Input(clearable,style="width: 260px",v-model="selectCourseName")
                    .divOne
                        span 课程状态：
                            Select(filterable,clearable,style="width:260px",v-model="selectState")
                                Option(v-for="item in getStudy()", :value="item.name", :key="item.name") {{item.name}}
                    .search
                        Button(@click="this.store.search") 搜索
                .hr
                .button
                    //Button(type="primary", ghost, icon="ios-log-out") 导出
                    Button(type="primary", ghost, icon="ios-remove-circle-outline",@click="deleteCultivate()") 删除

                .hr
                .bodyTwo
                    Table(border,:columns="getColumns()", :data="getData()",
                    @on-select="handleSelectRow",@on-select-all="handleSelectAll",
                    @on-select-cancel="handleSelectRowCancel",@on-select-all-cancel="handleSelectAllCancel")
                        template(slot-scope="{row, index }",slot="startTime")
                            span {{getDateFormat(row.startTime)}}
                        template(slot-scope="{row, index }",slot="operation")
                            template
                                Dropdown(trigger="click",@on-click = "change",placement="top-start")
                                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                                        span 详细操作
                                        Icon(type="md-arrow-dropdown" )
                                    DropdownMenu(slot="list")
                                        DropdownItem(:name="row.id")
                                            Icon(type="ios-contact-outline")
                                            span 培训详情

            TabPane(label="线下培训",name="线下培训",icon="ios-paper-outline")
                .topOne
                    .divOne
                        span 培训课程：
                            Input(clearable,style="width: 260px",v-model="selectCourseName")
                    .divOne
                        span 培训讲师：
                            Input(clearable,style="width: 260px",v-model="selectTrainingTeacher")
                    .divOne
                        span 课程状态：
                            Select(filterable,clearable,style="width:260px",v-model="selectState")
                                Option(v-for="item in getStudy()", :value="item.name", :key="item.name") {{item.name}}
                    .search
                        Button(@click="this.store.search") 搜索
                .hr
                .button
                    //Button(type="primary", ghost, icon="ios-log-out") 导出
                    Button(type="primary", ghost, icon="ios-remove-circle-outline",@click="deleteCultivate()") 删除
                    Button(type="primary", ghost, icon="ios-log-in",@click="uploadData=!uploadData") 导入培训数据
                .hr
                .bodyTwo
                    Table(border,:columns="getColumnsUp()",:data="getData()",
                    @on-select="handleSelectRow",@on-select-all="handleSelectAll",
                    @on-select-cancel="handleSelectRowCancel",@on-select-all-cancel="handleSelectAllCancel")
                        template(slot-scope="{row, index }",slot="startTime")
                            span {{getDateFormat(row.startTime)}}
                        template(slot-scope="{row, index }",slot="operation")
                            template
                                Dropdown(trigger="click",@on-click="upOperation")
                                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                                        span 详细操作
                                        Icon(type="md-arrow-dropdown" )
                                    DropdownMenu(slot="list")
                                        DropdownItem(:name="'add_'+row.id")
                                            Icon(type="ios-book-outline")
                                            span 上传记录
                                        DropdownItem(:name="'view_'+row.id")
                                            Icon(type="ios-create-outline")
                                            span 查看记录

    .footer
        Page(:total="pageTotal",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange",:page-size=20)
    Modal(:value="startTraining",title="培训详情",@on-ok="okStart()",@on-cancel="cancelStart()",width='70%',:loading="loading")
        .addBody1
            Input(v-model="selectUserName",:style={
                'width': '150px',
                'margin-bottom': '10px'
            },placeholder="名字",icon="ios-search-outline",@on-click="search")
            Table(border=false, ref="selection", :columns="getColumnsInfo()", :data="getDataInfo()",:row-class-name="rowClass", id="communal")
                template(slot-scope="{ row }" ,slot="cwrPhoto")
                    img(:src="'http://113.105.121.93:1818'+row.cwrPhoto",:style={
                        'width': '50px', 'height': '50px',
                        'border-radius': '50%'
                    })
                template(slot-scope="{ row }" ,slot="eafName")
                    span {{row.eafName}}
                    br
                    span {{row.cwrIdnum}}
                template(slot-scope="{row}",slot="whether")
                    span(v-if="row.whether==1") 通过
                    span(v-if="row.whether==2") 未通过
                    span(v-if="row.whether==3") 未开始
                template(slot-scope="{row}",slot="total_hours")
                    span {{row.total_hours}} 课时
                template(slot-scope="{row}",slot="training_time")
                    span {{row.training_time}} 小时
            Page(:total="inPageTotal",show-elevator,show-total,@on-page-size-change="onInPageSizeChange",@on-change="onPageIndexChange",:style={'text-align': 'center'})
    Modal(title="是否将以下课件删除？",v-model="onDelete",:styles="{top: '20px'}",@on-ok="okDelete()",@on-cancel="cancelDelete()")
        .divL
            .divCheck(v-for="item in this.store.checkedDelete")
                p {{item.name}}
    Modal(:value="uploadTraining",title="上传记录",@on-ok="okUpload()",@on-cancel="cancelUpload()",width='70%',:loading="loading")
        .addBody2
            span(:style={'font-size': '16px','padding-right':'20px'}) 培训是否完成？
            RadioGroup(v-model="okCultivate")
                Radio(label="是")
                    span 是
                Radio(label="否")
                    span 否
            span(:style={'font-size': '16px','padding-right':'20px'}) 培训人数
            InputNumber(:max="1000000",:min="1",v-model="courseNum")
            Upload(multiple,type="drag",action="/api/workerlib/cultivate_video/file/upload",
            :on-success="handleSuccessVideo",:format="['ogg','mp4','WebM']",:on-format-error="handleFormatError",
            :style={
                'width': '90%',
                'margin-right': 'auto',
                'margin-left': 'auto'
            })
                div(style="padding: 50px 0")
                    Icon(type="ios-add" size="52" style="color: #3399ff")
                    p 点击上传
                    p （请上传现场视频(ogg,mp4,WebM)）
                    

            Upload(multiple,type="drag",action="/api/workerlib/cultivate_video/file/upload",
            :on-success="handleSuccessPicture",:format="['jpg','jpeg','png']",:on-format-error="handleFormatPictrueError",
            :style={
                'width': '90%',
                'margin-right': 'auto',
                'margin-left': 'auto'
            })
                div(style="padding: 50px 0")
                    Icon(type="ios-add" size="52" style="color: #3399ff")
                    p 上传签到表以及现场照片
                    p （点击上传）
    Modal(:value="viewTraining",title="查看记录",@on-ok="okView()",@on-cancel="cancelView()",width='70%',:loading="loading")
        .addBody2
            .videoPhoto
                .video(v-for="item in getVideo()")
                    video(controls="controls",autoplay,loop,width="150px",height="100px", type="video/mp4")
                        source(:src="'/api/workerlib/play/cultivate_video/file/'+item.id")
            .videoPhoto
                .photo(v-for="item in getPhoto()")
                    img(:src="'/api/workerlib/preview/cultivate_video/file/'+item.id", :style={'width': '100%', 'height': '100%'})
    Modal(:value="uploadData",title="上传资料",@on-ok="okUploads()",@on-cancel="cancelUploads()",width='70%',:loading="loading")
        .addBody

            .uploadTop
                a(href="/css/images/coutemplate.xlsx", target='_blank')
                    Button(icon="ios-cloud-download-outline",:style={borderColor: '#2d8cf0', color: '#2d8cf0'}) 下载模板
            .uploadButtom
                Upload(multiple,type="drag",action="/api/import/courseware",
                :on-success="handleSuccessExcel",:format="['xls','xlsx']",:on-format-error="handleFormatErrorExcel",
                :show-upload-list="false")
                    div(:style={padding: '200px 0', height: '500px'})
                        Icon(type="ios-add" size="52" style="color: #3399ff")
                        p 点击上传