.body
    .topOne
        .divOne
            span 试卷类型：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            span 搜索试卷：
                Input( v-model="value",clearable,style="width: 260px")
        .divOne
            Button 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline" ,@click="addExaminationPaper=!addExaminationPaper") 添加试卷
    .hr
    .examinationPaper(v-for="item in getPaper()")
        .divY
            p {{item.title}}
            p 题数：{{item.questionNumber}}
            p 分数：{{item.grade}}
            Button 查看试题
        .divY
            template
                Dropdown(trigger="click")
                    a(href="javascript:void(0)" :style={"font-size": "30px"})
                        Icon(type="ios-more")
                    DropdownMenu(slot="list")
                        DropdownItem
                            Icon(type="ios-create-outline" )
                            span 编辑
                        DropdownItem
                            Icon(type="ios-trash-outline" )
                            span 删除
                        DropdownItem
                            Icon(type="ios-cloud-download-outline" )
                            span 下载
            .img
                img(src="~@/assets/css/images/sj.jpg" :style={'width':'100%','height':'100%'})
    Modal(:value="addExaminationPaper",title="课件上传",@on-ok="ok()",@on-cancel="cancel()",width='70%')
        template
            Tabs
                TabPane(label="基本信息" icon="ios-paper-outline")
                    .addBody
                        .divTwo
                            .name
                                span 课件名称
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="userName",placeholder="请输入课件名称")
                        .divTwo
                            .name
                                span 课程
                                span(:style={'color': 'red'}) *

                        .divTwo
                            .name
                                span 总课时
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="userName",placeholder="请输入总课时")
                        .divTwo
                            .name
                                span 授课方式
                                span(:style={'color': 'red'}) *
                            .input
                                Button(disabled) 录播
                        .divTwo
                            .name
                                span 是否必学课程
                                span(:style={'color': 'red'}) *
                            .input
                                Radio(v-model="single") 是
                        .divTwo
                            .name
                                span 绑定课件工种分类
                                span(:style={'color': 'red'}) *

                TabPane(label="资料上传" icon="ios-cloud-upload-outline") 标签二的内容
                TabPane(label="课件详情" icon="ios-folder-outline") 标签三的内容