.body
    .headerTop
        span(:style={'font-weight': 'bolder'}) 数据中心
    .minBody
        .bodyLeft
            .one
                .oneTop
                    .q1
                        span(:style={'line-height': '38px','font-size': '14px', 'margin-left': '22%','font-weight': 'bolder'}) 职业证书统计
                    .q1
                        .q1
                            .qCircle
                            span(:style={'line-height': '38px','font-size': '14px','margin-left': '12%','font-weight': 'bolder'}) 总人数
                        .q1
                            .qCircleTwo
                            span(:style={'line-height': '38px','font-size': '14px', 'margin-left': '12%','font-weight': 'bolder'}) 持证人数
                .oneW
                    .oneLeft
                        template
                            Progress(:percent="80",:stroke-width="15",:stroke-color="['#4ea2fe', '#7dbafe']",hide-info)
                    .oneMiddle
                        span 普工
                    .oneRight
                        template
                            Progress(:percent="80",:stroke-width="15",:stroke-color="['#6bdfc5', '#90e7d4']",hide-info)
                .oneW
                    .oneLeft
                        template
                            Progress(:percent="70",:stroke-width="15",:stroke-color="['#4ea2fe', '#7dbafe']",hide-info)
                    .oneMiddle
                        span 电工
                    .oneRight
                        template
                            Progress(:percent="50",:stroke-width="15",:stroke-color="['#6bdfc5', '#90e7d4']",hide-info)
                .oneW
                    .oneLeft
                        template
                            Progress(:percent="60",:stroke-width="15",:stroke-color="['#4ea2fe', '#7dbafe']",hide-info)
                    .oneMiddle
                        span 焊工
                    .oneRight
                        template
                            Progress(:percent="50",:stroke-width="15",:stroke-color="['#6bdfc5', '#90e7d4']",hide-info)
                .oneW
                    .oneLeft
                        template
                            Progress(:percent="75",:stroke-width="15",:stroke-color="['#4ea2fe', '#7dbafe']",hide-info)
                    .oneMiddle
                        span 水泥工
                    .oneRight
                        template
                            Progress(:percent="70",:stroke-width="15",:stroke-color="['#6bdfc5', '#90e7d4']",hide-info)
                .oneW
                    .oneLeft
                        template
                            Progress(:percent="65",:stroke-width="15",:stroke-color="['#4ea2fe', '#7dbafe']",hide-info)
                    .oneMiddle
                        span 钢筋工
                    .oneRight
                        template
                            Progress(:percent="50",:stroke-width="15",:stroke-color="['#6bdfc5', '#90e7d4']",hide-info)
            .one
                .oneTop
                    .q1
                        span(:style={'line-height': '38px', 'font-size': '14px', 'margin-left': '22%','font-weight': 'bolder'}) 培训统计
                    .ql
                        .radio
                            template
                                RadioGroup(v-model="checked", size='large')
                                    Radio(label="week")
                                        span(:style={'font-weight': 'bolder'}) 周
                                    Radio(label="month")
                                        span(:style={'font-weight': 'bolder'}) 月
                .peoplesEcharts
                    #peoples(:style={'height': '215px','width':'96%'})
            .two
                .oneTop
                    .q1
                        span(:style={'line-height': '38px', 'font-size': '14px', 'margin-left': '22%','font-weight': 'bolder'}) 课件培训统计
                    .ql
                        .radio
                            template
                                RadioGroup(v-model="checked", size='large')
                                    Radio(label="week")
                                        span(:style={'font-weight': 'bolder'}) 周
                                    Radio(label="month")
                                        span(:style={'font-weight': 'bolder'}) 月
                .cultivateEcharts
                    #cultivate(:style={'height': '250px','width':'94%'})
                .q2
                    //Icon(type="ios-arrow-down")
        .bodyMiddle
            .twoTop
                span(:style={'font-weight': 'bolder'}) 工种人数统计
            .twoEcharts
                #myEcharts(:style={'height': '320px','width':'90%'})
            .twoMiddle
                table(:style={'width':'100%'},border="0",cellpadding="0",cellspacing="0")
                    tr(:style={'height':'25px','background-color': '#f2f2f2','font-weight': 'bolder'})
                        td(:style={'width':'5%'})
                        td(:style={'width':'20%'}) 排名
                        td(:style={'width':'20%'}) 工种
                        td(:style={'width':'45%'}) 人数
                        td(:style={'width':'10%'}) 占比

                    tr(:style={'height': '30px'})
                        td(:style={'width': '5%'})
                        td(:style={'width': '20%'})
                            .tableCircle(:style={'background-color':'#fe7a90'})
                            span 1
                        td(:style={'width': '20%'}) 焊工
                        td(:style={'width': '45%'})
                            span(:style={'float': 'left'}) 3000
                            .q3
                                template
                                    Progress(:percent="19.61",:stroke-width="5",:stroke-color="['#fe7a90', '#fe7a90']",hide-info)
                        td(:style={'width': '10%'}) 19.61%
                    tr(:style={'height': '30px'})
                        td(:style={'width': '5%'})
                        td(:style={'width': '20%'})
                            .tableCircle(:style={'background-color':'#1ce8ae'})
                            span 2
                        td(:style={'width': '20%'}) 电工
                        td(:style={'width': '45%'})
                            span(:style={'float': 'left'}) 2500
                            .q3
                                template
                                    Progress(:percent="16.34",:stroke-width="5",:stroke-color="['#1ce8ae', '#1ce8ae']",hide-info)
                        td(:style={'width': '10%'}) 16.34%

                    tr(:style={'height': '30px'})
                        td(:style={'width': '5%'})
                        td(:style={'width': '20%'})
                            .tableCircle(:style={'background-color':'#f9ce32'})
                            span 3
                        td(:style={'width': '20%'}) 水泥工
                        td(:style={'width': '45%'})
                            span(:style={'float': 'left'}) 3500
                            .q3
                                template
                                    Progress(:percent="22.88",:stroke-width="5",:stroke-color="['#f9ce32', '#f9ce32']",hide-info)
                        td(:style={'width': '10%'}) 22.88%

                    tr(:style={'height': '30px'})
                        td(:style={'width': '5%'})
                        td(:style={'width': '20%'})
                            .tableCircle(:style={'background-color':'#9786f0'})
                            span 4
                        td(:style={'width': '20%'}) 钢筋工
                        td(:style={'width': '45%'})
                            span(:style={'float': 'left'}) 4300
                            .q3
                                template
                                    Progress(:percent="28.1",:stroke-width="5",:stroke-color="['#9786f0', '#9786f0']",hide-info)

                        td(:style={'width': '10%'}) 28.1%
                    tr(:style={'height': '30px'})
                        td(:style={'width': '5%'})
                        td(:style={'width': '20%'})
                            .tableCircle(:style={'background-color': '#3f9cfe'})
                            span 5
                        td(:style={'width': '20%'}) 普工
                        td(:style={'width': '45%'})
                            span(:style={'float': 'left'}) 2000
                            .q3
                                 template
                                     Progress(:percent="13.07",:stroke-width="5",:stroke-color="['#3f9cfe', '#3f9cfe']",hide-info)
                        td(:style={'width': '10%'}) 13.07%
            .twoFooterOne
                .divOne
                    .oneTop
                        .q1
                            span(:style={'line-height': '28px','font-size': '12px', 'margin-left': '28%','font-weight': 'bolder','color':'#ffffff'}) 工程总数
                        .q1
                    .minTwo
                            span(:style={'font-size': '40px', 'line-height': '65px', 'padding-left': '18px'}) 1
                            span(:style={'font-size': '15px'}) 个
                    .hr
                    span(:style={'padding-left': '10%', 'line-height': '35px'}) 在建工程：10
                    span(:style={'padding-left': '15%', 'line-height': '35px'}) 未开工：0
                .divTwo(:style={'margin-left':'5%','margin-right':'5%'})
                    .oneTop
                        .q1
                            span(:style={
                                'line-height': '28px',
                                'font-size': '12px',
                                'margin-left': '28%',
                                'font-weight': 'bolder',
                                'color': '#ffffff'
                            }) 在场工人数
                        .q1
                    .minTwo
                        span(:style={'font-size': '40px', 'line-height': '65px', 'padding-left': '10px'}) 10000
                        span(:style={'font-size': '15px'}) 人
                    .hr
                    span(:style={'padding-left': '5%', 'line-height': '35px'}) 自有工人：800
                    span(:style={'padding-left': '5%', 'line-height': '35px','color':'#4da0fe'}) 外部工人：200
                .divThree
                    .oneTop
                        .q1
                            span(:style={'line-height': '28px','font-size': '12px','margin-left': '28%', 'font-weight': 'bolder','color': '#ffffff'}) 离场工人数
                        .q1
                            span(:style={'line-height': '28px','font-size': '12px','margin-left': '35%','color': '#000000'}) 流动率:1%
                    .minTwo
                        span(:style={'font-size': '40px', 'line-height': '65px', 'padding-left': '10px'}) 125
                        span(:style={'font-size': '15px'}) 人
                    .hr
                    span(:style={'padding-left': '18px', 'line-height': '35px'}) 自有工人：65
                    span(:style={'padding-left': '12px', 'line-height': '35px', 'color': '#4da0fe'}) 外部工人：60
            .twoFooterTwo
                .footerTop
                    span(:style={'color': '#ffffff'}) 建筑工人总数
                .footerButtom
                    .footerDiv
                        span(:style={'line-height': '70px','font-size':'14px'}) 所有工种总数
                    .footerDiv
                        span(:style={'color': '#fa8e10','line-height': '70px','font-size':'14px'}) 自有队伍人数
                    .footerDiv
                        span(:style={'color': '#4ba1fe','line-height': '70px','font-size':'14px'}) 外部队伍人数
                .footerHr
                .footerButtom
                    .footerDiv
                        span(:style={'font-weight': 'bolder','font-size':'26px'}) 100种
                    .footerDiv
                        span(:style={'color': '#fa8e10','font-weight': 'bolder','font-size':'26px'}) 20000人
                    .footerDiv
                        span(:style={'color': '#4ba1fe','font-weight': 'bolder','font-size':'26px'}) 20000人
        .bodyRight
            .threeTop
                .oneTop
                    .q1
                        span(:style={'line-height': '38px', 'font-size': '14px', 'margin-left': '22%','font-weight': 'bolder'}) 技能工种评定系统
                .threeP
                    #profession(:style={'height': '210px','width':'94%'})
                .threeQ
                    .qLeft
                        #threeEcharts(:style={'height': '150px','width':'150px','margin-left':'auto','margin-right':'auto','margin-top':'34px'})
                    .qRight
                        table(:style={'width':'100%'},border="0",cellpadding="0",cellspacing="0")
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#4da1fd'})
                                    span 一级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#6adfc5'})
                                    span 二级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#f76e6c'})
                                    span 三级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#f8cc7a'})
                                    span 四级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#bec0ff'})
                                    span 五级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#4da1fd'})
                                    span 六级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#f76e6c'})
                                    span 七级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#f8cc7a'})
                                    span 八级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人
                            tr(:style={'height': '25px'})
                                td(:style={'width': '40%'})
                                    .tableCircle(:style={'background-color': '#bec0ff'})
                                    span 九级
                                td(:style={'width': '20%'})

                                td(:style={'width': '40%'}) 100人

            .threeFooter
                .oneTop
                    .q1
                        span(:style={'line-height': '38px', 'font-size': '14px', 'margin-left': '22%','font-weight': 'bolder'}) 不良记录系统
                .q4
                    Carousel(v-model="carousel", autoplay, :autoplay-speed=3000, dots="none", radius-dot, arrow="always")
                        CarouselItem
                            .demo-carousel
                                img(src="~@/assets/css/images/1.png" :style={'width':'100%','height':'100%'})
                        CarouselItem
                            .demo-carousel
                                img(src="~@/assets/css/images/2.png" :style={'width':'100%','height':'100%'})
                        CarouselItem
                            .demo-carousel
                                img(src="~@/assets/css/images/3.png" :style={'width':'100%','height':'100%'})
                        CarouselItem
                            .demo-carousel
                                img(src="~@/assets/css/images/4.png" :style={'width':'100%','height':'100%'})
                .q5
                    table(:style={'width': '100%','text-align':'center'},border="0",cellpadding="0",cellspacing="0")
                        tr(:style={'height': '25px', 'background-color': '#f2f2f2', 'font-weight': 'bolder'})
                            td(:style={'width': '25%'}) 排名
                            td(:style={'width': '25%'}) 工种
                            td(:style={'width': '25%'}) 人数
                            td(:style={'width': '25%'}) 占比
                        tr(:style={'height': '35px'})
                            td(:style={'width': '25%'}) 1
                            td(:style={'width': '25%'}) 裴灏杰
                            td(:style={'width': '25%'}) 寻衅挑事
                            td(:style={'width': '25%'}) 黑名单
                        tr(:style={'height': '35px'})
                            td(:style={'width': '25%'}) 2
                            td(:style={'width': '25%'}) 范佳超
                            td(:style={'width': '25%'}) 寻衅挑事
                            td(:style={'width': '25%'}) 黑名单
                        tr(:style={'height': '35px'})
                            td(:style={'width': '25%'}) 3
                            td(:style={'width': '25%'}) 陈吕
                            td(:style={'width': '25%'}) 寻衅挑事
                            td(:style={'width': '25%'}) 黑名单
                        tr(:style={'height': '35px'})
                            td(:style={'width': '25%'}) 4
                            td(:style={'width': '25%'}) 吴之甫
                            td(:style={'width': '25%'}) 寻衅挑事
                            td(:style={'width': '25%'}) 黑名单



