#home-page-wrap
  .people-wrap
    .top
      .bgc(class="blue")
        p.title 工种总数(种)
        p.num {{$store.state.HomePageStore.typeOfWorkTotal}}
        span 查看详情
      .bgc(class="cambridge-blue")
        p.title 自有队伍人数(人)
        p.num {{$store.state.HomePageStore.ownConstructionTeam}}
        span 查看详情
      .bgc(class="green")
        p.title 外部队伍人数(人)
        p.num {{$store.state.HomePageStore.externalConstructionTeam}}
        span 查看详情
    .video-vrap
      video(v-if="$store.state.HomePageStore.videoData && $store.state.HomePageStore.videoData.isOk" controls="controls",autoplay,muted ,loop,width="100%",height="100%")
        source(:src="'/api/workerlib/play/indexVideo/file/'+ $store.state.HomePageStore.videoData.id")
      Carousel(v-else autoplay loop)
        CarouselItem(v-for="item in $store.state.HomePageStore.iimageData" :key="imageData.id")
            img(:src="'/api/workerlib/preview/indexVideo/file/'+ item.id" style="width: 100%; height: 100%")
    .bottom
      .small-box
        p.title 在建工程总数
        p.num {{$store.state.HomePageStore.constructionProject}}
          span 个
        .project
          p 开工：{{$store.state.HomePageStore.onlineProject}}
          p.check 未开工：{{$store.state.HomePageStore.offlineProject}}
      .small-box
        p.title 在场工人数
        p.num {{$store.state.HomePageStore.onlineWorker}}
          span 人
        .project
          p 自有：{{$store.state.HomePageStore.onlineWorkerOwn}}
          p.check 外部：{{$store.state.HomePageStore.onlineWorkerExternal}}
      .small-box
        p.title 离场工人数
        p.num {{$store.state.HomePageStore.offlineWorker}}
          span 人
        .project
          p 自有：{{$store.state.HomePageStore.offlineWorkerOwn}}
          p.check 外部：{{$store.state.HomePageStore.offlineWorkerExternal}}
  .charts-wrap-one
    .big-box
      p.title 工种人数统计
      RadioGroup(v-model="jobsType", @on-change="getJobs")
        Radio(label="own")
          span 自有工人
        Radio(label="epiboly")
          span 劳务分包
      #jobs(class="charts")
    .big-box
      p.title 执业证书统计
      #certificate(class="charts")
    .big-box
      p.title 培训课件统计
      span.total 课件总数{{trainingCourseTolal}}个
      #courseware(class="charts")
  .charts-wrap-two
    .big-box
      p.title 自有工人技能工种评定统计
      #workers(class="charts")
    .big-box
      p.title 培训统计
      span.total 培训总人数{{trainTotal}}人
      #cultivate(class="charts")
    .big-box
      p.title 不良记录统计
      Table(:tooltip="true" :row-class-name="rowClassName" :columns="columns" :data="$store.state.HomePageStore.tableData")
        template(slot-scope="{ row, index }" slot="img")
          img(:src="`/api/workerlib/preview/appraise_photo/photo/${row.photoId}`")
      .button
        .right(@click="store.index('+')")
          Icon(type="md-arrow-dropright")
        .left(@click="store.index('-')")
          Icon(type="md-arrow-dropleft")
