.body
    div
        p(:style="{fontSize: '16px',fontWeight: 'bold'}") 人员管理

        div(class="selectedList")
            div(class="condition")
                span(:style="{fontSize: '16px',float: 'left',marginRight: '10px',paddingTop: '14px',color: '#789fef'}") 已选条件
                //div(class="selected",v-if="selectUserName") {{selectUserName}}
                //    Icon(type="ios-backspace-outline",@click="clearUserName()")
                //
                //div(class="selected",v-if="selectProjectId") {{getProjectName()}}
                //    Icon(type="ios-backspace-outline",@click="clearProject()")
                //
                //div(class="selected",v-if="selectUnitId") {{getUnitName()}}
                //    Icon(type="ios-backspace-outline",@click="clearUnit()")
                //
                //div(class="selected",v-if="selectWorkType") {{selectWorkType}}
                //    Icon(type="ios-backspace-outline",@click="clearWorkType()")
                //
                //div(class="selected",v-if="selectStatus") {{selectStatus}}
                //    Icon(type="ios-backspace-outline",@click="clearStatus()")
                //
                //div(class="selected",v-if="selectMinAge") {{selectMinAge}}
                //    Icon(type="ios-backspace-outline",@click="clearMinAge()")
                //
                //div(class="selected",v-if="selectMaxAge") {{selectMaxAge}}
                //    Icon(type="ios-backspace-outline",@click="clearMaxAge()")
                //
                //div(class="selected",v-if="selectSex") {{selectSex}}
                //    Icon(type="ios-backspace-outline",@click="clearSex()")

            div(class="selectButton")
                div(class="reset",@click="reset()") 重置
                div(class="inquire",@click="searchUserList()") 查询