.freamwork
    .loginBox
        .inputName
            h3 请输入账号密码
            Input(prefix="ios-contact", :v-model="{module}")
            Input(prefix="md-unlock",type="password")
            Button(@click="login") 立即登录
    footer