.freamwork
    .loginBox
        .inputName
            h3 请输入账号密码
            Input(prefix="ios-contact", v-model="username")
            Input(prefix="md-unlock",type="password", v-model="password", @keyup.enter.native="login")
            Button(@click="login") 立即登录
    footer
