.layout
    Layout(:style="{minHeight: '100vh'}")
        Sider(collapsible, :collapsed-width="78",v-model='isCollapsed')
            .logo
            Menu(:open-names="['1']",accordion,@on-select="select",width="auto", :class="menuitemClasses",theme="dark")
                MenuItem(name="/home")
                    Icon(type="md-home")
                    span 首页
                Submenu(name="项目")
                    template( slot="title")
                        Icon(type="ios-folder-open")
                        span 项目
                    MenuItem(name="/project")
                        span 项目工程管理
                    MenuItem(name="/unit")
                        span 施工单位管理

                Submenu(name="人员")
                    template( slot="title")
                        Icon(type="md-people")
                        span 人员
                    MenuItem(name="/worker")
                        span 产业工人档案
                    MenuItem(name="/contributive")
                        span 工资管理
                    MenuItem(name="/turnWork")
                        span 出勤管理

                Submenu(name="培训")
                    template( slot="title")
                        Icon(type="ios-book")
                        span 培训
                    MenuItem(name="/courseWare")
                        span 线上
                    MenuItem(name="/courseware")
                        span 课件管理
                    MenuItem(name="/examinationPaper")
                        span 试卷管理
                    MenuItem(name="/cultivate")
                        span 培训记录
                    MenuItem(name="/offlineCourseWare")
                        span 线下
                    MenuItem(name="/offlineCourseware")
                        span 课件管理
                    MenuItem(name="/lecturer")
                        span 讲师档案
                    MenuItem(name="/offlineCultivate")
                        span 培训记录

                MenuItem(name="/checkEvaluate")
                    Icon(type="md-checkbox")
                    span 技能鉴定

                MenuItem(name="/comments")
                    Icon(type="ios-create")
                    span 综合评价

                MenuItem(name="/1-5")
                    Icon(type="ios-build")
                    span 工种

                MenuItem(name="/1-6")
                    Icon(type="md-settings")
                    span 设置
        Layout
            Content
                .headers
                    .circle
                    span {{title}}
                router-view


