.layout
    Layout
        Sider(:style="{height: '1080px'}",width=228)
            Menu(active-name="主页",theme="light",width="auto",:open-names="['1']",:style="{color: '#fff'}")
                MenuItem(name="主页",:style="{marginTop: '240px'}",@click.native="clickMenu('homepage')")
                    span(class="top-angle",v-if="homepage")
                    span(class="bottom-angle",v-if="homepage")
                    img(src="~@/assets/css/images/主页蓝.png",v-if="homepage",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/主页.png",v-else)
                    Item 主　　页
                MenuItem(name="项目管理",@click.native="clickMenu('projectManagement')")
                    span(class="top-angle",v-if="projectManagement")
                    span(class="bottom-angle",v-if="projectManagement")
                    img(src="~@/assets/css/images/项目管理蓝.png",v-if="projectManagement",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/项目管理.png",v-else)
                    Item 项目管理
                MenuItem(name="人员管理",@click.native="clickMenu('peopleManagement')")
                    span(class="top-angle",v-if="peopleManagement")
                    span(class="bottom-angle",v-if="peopleManagement")
                    img(src="~@/assets/css/images/人员管理蓝.png",v-if="peopleManagement",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/人员管理.png",v-else)
                    Item 人员管理
                MenuItem(name="培训管理",@click.native="clickMenu('trainingManagement')")
                    span(class="top-angle",v-if="trainingManagement")
                    span(class="bottom-angle",v-if="trainingManagement")
                    img(src="~@/assets/css/images/培训管理蓝.png",v-if="trainingManagement",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/培训管理.png",v-else)
                    Item 培训管理
                MenuItem(name="讲师管理",@click.native="clickMenu('lecturerManagement')")
                    span(class="top-angle",v-if="lecturerManagement")
                    span(class="bottom-angle",v-if="lecturerManagement")
                    img(src="~@/assets/css/images/讲师管理蓝.png",v-if="lecturerManagement",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/讲师管理.png",v-else)
                    Item 讲师管理
                MenuItem(name="综合评价",@click.native="clickMenu('comprehensiveAssessment')")
                    span(class="top-angle",v-if="comprehensiveAssessment")
                    span(class="bottom-angle",v-if="comprehensiveAssessment")
                    img(src="~@/assets/css/images/综合评价蓝.png",v-if="comprehensiveAssessment",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/综合评价.png",v-else)
                    Item 综合评价
                MenuItem(name="不良评价",@click.native="clickMenu('badEvaluation')")
                    span(class="top-angle",v-if="badEvaluation")
                    span(class="bottom-angle",v-if="badEvaluation")
                    img(src="~@/assets/css/images/不良评价蓝.png",v-if="badEvaluation",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/不良评价.png",v-else)
                    Item 不良评价
                MenuItem(name="技能鉴定",@click.native="clickMenu('skillAppraisal')")
                    span(class="top-angle",v-if="skillAppraisal")
                    span(class="bottom-angle",v-if="skillAppraisal")
                    img(src="~@/assets/css/images/技能鉴定蓝.png",v-if="skillAppraisal",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/技能鉴定.png",v-else)
                    Item 技能鉴定
                MenuItem(name="设置",@click.native="clickMenu('setting')")
                    span(class="top-angle",v-if="setting")
                    span(class="bottom-angle",v-if="setting")
                    img(src="~@/assets/css/images/设置蓝.png",v-if="setting",:style="{marginLeft: '12px'}")
                    img(src="~@/assets/css/images/设置.png",v-else)
                    Item 设　 置

        Layout(:style="{padding: '0 24px 24px'}")
            Breadcrumb(:style="{margin: '24px 0'}")
                BreadcrumbItem Home
                BreadcrumbItem Components
            Content(:style="{padding: '24px', minHeight: '280px', background: '#fff'}")
                Content


