.layout
    Layout(:style="{minHeight: '100vh'}")
        Sider(collapsible, :collapsed-width="78",v-model='isCollapsed')
            .logo
            Menu(:open-names="['1']",accordion,@on-select="select",width="auto", :class="menuitemClasses",theme="dark")
                MenuItem(name="/spectaculars")
                    Icon(type="md-home")
                    span 首页
                Submenu(name="项目")
                    template( slot="title")
                        Icon(type="ios-folder-open")
                        span 项目
                    MenuItem(name="/nav/project")
                        span 项目人员管理
                    MenuItem(name="/nav/unit")
                        span 施工单位管理

                MenuItem(name="/nav/worker")
                    Icon(type="md-people")
                    span 工人档案

                MenuItem(name="/nav/lecturer")
                    Icon(type="md-school")
                    span 讲师档案

                Submenu(name="培训")
                    template( slot="title")
                        Icon(type="ios-book")
                        span 培训
                    MenuItem(name="/nav/courseware")
                        span 培训课件
                    MenuItem(name="/nav/examinationPaper")
                        span 考试管理
                    MenuItem(name="/nav/cultivate")
                        span 培训记录

                MenuItem(name="/nav/checkEvaluate")
                    Icon(type="md-checkbox")
                    span 技能鉴定

                MenuItem(name="/nav/comments")
                    Icon(type="ios-create")
                    span 综合评价

                Submenu(name="设置")
                    template( slot="title")
                        Icon(type="md-settings")
                        span 设置
                    MenuItem(name="/nav/account")
                        span 帐号
                    MenuItem(name="/nav/role")
                        span 角色
                    MenuItem(name="/nav/workclass")
                        span 工种
                    MenuItem(name="/nav/commentType")
                        span 工人评价
                    MenuItem(name="/nav/grade")
                        span 评定等级
                    MenuItem(name="/nav/rate")
                        span 评定级别
                    MenuItem(name="/nav/course")
                        span 课件类型
                    MenuItem(name="/nav/punishment")
                        span 处罚
        Layout
            Content
                .headers(v-if="title!='首页'")
                    .circle
                    span {{title}}
                router-view


