.layout
    Layout(:style="{minHeight: '100vh'}")
        Sider(collapsible, :collapsed-width="78",v-model='isCollapsed')
            Menu(active-name="/home",theme="dark", width="auto", :class="menuitemClasses", @on-select="select")
                MenuItem(name="/")
                    .logo
                MenuItem(v-for="item in getMenus()", :name="item.path")
                    Icon(:type="item.icon")
                    span {{item.name}}

        Layout
            Content
                .headers
                    .circle
                    span {{title}}
                router-view


