.body
    div
        p(:style="{fontSize: '16px',fontWeight: 'bold'}") 项目管理

        div(class="selectedList")
            div(class="condition")
                span(:style="{fontSize: '16px',float: 'left',marginRight: '10px',paddingTop: '14px',color: '#789fef'}") 已选条件
            div(class="selectButton")
                div(class="reset") 重置
                div(class="inquire") 查询
    div
        div(class="projectLeft")
            Tree(:data="getProjectList()",:load-data="loadData")
        div(class="projectRight")