.body
    div(class="button")
        Button(type="primary",ghost,icon="ios-add-circle-outline",@click="clickAddProject()") 新增项目
        Button(type="primary",ghost,icon="ios-add-circle-outline") 新增单位
        Button(type="primary",ghost,icon="ios-trash-outline") 删除
        Button(type="primary",ghost,icon="ios-cloud-upload-outline") 导出
    div
        div(class="projectLeft")
            Tree(:data="getProjectList()",:load-data="loadData",@on-select-change="treeChange")
        div(class="projectRight")
            div(v-if="showProject",class="table7")
                div
                    div(class = "table4")
                        div(class = "table5") 工程名称
                        div(class = "table6",:title="this.store.projectParticulars.project_name") {{this.store.projectParticulars.project_name}}
                    div(class = "table4")
                        div(class = "table5") 工程简介
                        div(class = "table6") {{this.store.projectParticulars.project_brief}}
                div
                    div(class = "table4")
                        div(class = "table5") 施工许可证
                        div(class = "table6") {{this.store.projectParticulars.builder_license}}
                    div(class = "table4")
                        div(class = "table5") 项目监督编号
                        div(class = "table6") {{this.store.projectParticulars.project_supervision}}
                div
                    div(class = "table4")
                        div(class = "table5") 开工时间
                        div(class = "table6") {{this.store.projectParticulars.start_time}}
                    div(class = "table4")
                        div(class = "table5") 竣工时间
                        div(class = "table6") {{this.store.projectParticulars.end_time}}
                div
                    div(class = "table4")
                        div(class = "table5") 项目地址
                        div(class = "table6") {{this.store.projectParticulars.project_address}}
                    div(class = "table4")
                        div(class = "table5") 状态
                        div(class = "table6",v-if="this.store.projectParticulars.status == 1") 待开工
                        div(class = "table6",v-if="this.store.projectParticulars.status == 2") 开工
                        div(class = "table6",v-if="this.store.projectParticulars.status == 3") 停工
                        div(class = "table6",v-if="this.store.projectParticulars.status == 4") 完工
    Modal(v-model="addProject",title="新增单位",@on-ok="addProjectOk",@on-cancel="addProjectCancel",width='60%',:transfer="false")
        div(class="modelBody")
            div
                div(class = "modelBody1")
                    div(class = "modelBody2") 所属上级
                    div(class = "modelBody3")
                        div(class="selectValue")
                            Col
                                Select(filterable,clearable,v-model="insertPid")
                                    Option(v-for="item in getCompanyList()",:value="item.id",:key="item.id") {{ item.title}}
                div(class = "modelBody1")
                    div(class = "modelBody2") 单位名称
                    div(class = "modelBody3")
                        div(class="selectValue")
                            Input(clearable,placeholder="请输入单位名称",v-model="insertUnitName")
            div
                div(class = "modelBody1")
                    div(class = "modelBody2") 信用代码
                    div(class = "modelBody3")
                        div(class="selectValue")
                            Input(clearable,placeholder="请输入施工许可证",v-model="insertProjectLicense")

                div(class = "modelBody1")
                    div(class = "modelBody2") 单位类型
                    div(class = "modelBody3")
                        div(class="selectValue")
                            Col
                                Select(filterable,clearable,v-model="insertUnitType")
                                    Option(v-for="item in getUnitTypeList()",:value="item.id",:key="item.id") {{ item.name}}
            div
                div(class = "modelBody1")
                    div(class = "modelBody2") 法人代表
                    div(class = "modelBody3")
                        div(class="selectValue")
                            Input(clearable,placeholder="请输入法人代表",v-model="insertPrincipal")

                div(class = "modelBody1")
                    div(class = "modelBody2") 单位地址
                    div(class = "modelBody3")
                        div(class="selectValue")
                            Input(clearable,placeholder="请输入单位地址",v-model="insertAddress")






















