.body
    .topOne
        .divOne
            span 选择公司：
                Input( v-model="value",clearable,style="width: 200px")
        .divOne
            span 选择地区：
                Input( v-model="value",clearable,style="width: 200px")
        .divOne
            span 项目名称：
                Input( v-model="value",clearable,style="width: 200px")
        .divOne
            span 课程状态：
                Select(v-model="model8",clearable,style="width:200px")
                    Option(v-for="item in getMenus()", :value="item.value", :key="item.key")
        .divOne
            Button 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline") 新增项目
        Button(type="primary", ghost, icon="ios-log-in") 导入项目
        Button(type="primary", ghost, icon="ios-log-out") 导出信息

    .bodyTwo
        Table(:row-class-name="rowClassName", border, ref="selection", :columns="getColumns()", :data="getData()")
    .footer
        Page(:total="5", size="small" ,show-elevator,show-sizer,show-total)