.body
    .topOne
        .One(class="One")
            span 自有项目管理
        //        Input( v-model="selectProjectName",clearable,style="width: 200px")
        .divOne(class="Two")
            span 已选条件
        .divOne

        //    span 在场状态：
        //        Select(v-model="selectStatus",clearable,filterable,style="width:200px")
        //            Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}
        .search
            Button(@click="search()" type="primary") 查询
            Button(@click="search()" ) 重置
    .hr
    .button
            Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 新增公司
            Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 新增项目
            Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 新增单位
            Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 删除
            Button(type="primary", ghost, icon="ios-log-out",@click="upload()") 导出
    .topTwo
        template
            Tree(:data="data5" :render="renderContent" class="demo-tree-render")
    .topThree

    .hr

