.body
    .topOne
        .divOne
            span 处罚名称：
                Input(clearable,style="width: 200px")
        .divOne
            span
        .divOne
            span
        .divOne
            span
        .divOne
            Button(@click="search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addPunishment=!addPunishment") 新增处罚
    .bodyTwo
        Table(:row-class-name="rowClassName", border, ref="selection", :columns="getColumns()", :data="getData()")
            template(slot-scope="{row, index }",slot="operation")
                Dropdown(trigger="click")
                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                        span 详细操作
                        Icon(type="md-arrow-dropdown" )
                    DropdownMenu(slot="list")
                        DropdownItem
                            Icon(type="ios-remove-circle-outline")
                            span(@click="popupDelPunishment(row.id)") 刪除处罚名称
    .footer
        Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addPunishment",title="新增处罚",@on-ok="ok()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 处罚类型名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="name")
    Modal(:value="delPunishment",title="删除处罚",@on-ok="deletes()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 是否删除该处罚名称
                    span(:style={'color': 'red'})
                .input
                    //Input(clearable,style="width: 345px",size=large,v-model="name")