.body
    .topOne
        .divOne
            span 角色名称：
                Input(clearable,style="width: 200px")
        .divOne
            span
        .divOne
            span
        .divOne
            span
        .divOne
            Button(@click="") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addRole=!addRole") 新增角色
    .bodyTwo
        Table(:row-class-name="rowClassName", border, ref="selection", :columns="getColumns()", :data="getData()")
            template(slot-scope="{row, index }",slot="operation")
                Dropdown(trigger="click")
                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                        span 详细操作
                        Icon(type="md-arrow-dropdown" )
                    DropdownMenu(slot="list")
                        DropdownItem
                            Icon(type="ios-remove-circle-outline")
                            span(@click="popupDelRole(row.roleId)") 刪除角色
    .footer
        Page(show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addRole",title="新增角色",@on-ok="ok()",@on-cancel="cancel()",width='70%')
        .addBody
            .divTwo
                .name
                    span 角色名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="roleName",placeholder="请输入角色名称")
            //.divTwo
            //    .name
            //        span 密码
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Input(clearable,style="width: 345px",size=large,v-model="password",placeholder="请输入密码",type="password")
            //.divTwo
            //    .name
            //        span 用户权限
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Input(clearable,style="width: 345px",size=large,v-model="builderLicense")
    Modal(:value="delRole",title="删除角色",@on-ok="yes()",@on-cancel="cancel()",width='70%')
        .addBody
            .divTwo
                .name
                    span 你确定要删除该角色吗？