.spectaculars
    .fh(@click="goBack()") 管理平台
    .header
        .headerLeft
            .headerLogo
            .headerLogoFont
                span 筑造宜居城市
        .headerMiddle
        .headerRight
    .body
        .bodyLeft
            .bodyLeftTop
                .topTop
                    .topLeftLeft
                    .topLeftMiddle
                        span 职业证书统计
                    .topLeftRight
                        .rightTitle
                            .circleGreen
                            span(:style={
                                'line-height': '50px',
                                'font-size': '14px',
                                'margin-left': '8px'
                            }) 总人数
                        .rightTitle
                            .circleBlue
                            span(:style={
                                'line-height': '50px',
                                'font-size': '14px',
                                'margin-left': '8px'
                            }) 持证人数
                .hrBJ
                .topButtom(v-for="(item,index) in getWorkType()")
                    .belowLeft
                        template
                            Progress(:title='((item.certificateTotal/peopleTotal)*100 ? (item.certificateTotal/peopleTotal)*100 : 0)+"%,"+item.certificateTotal+"(人)"',
                            :percent="((item.certificateTotal/peopleTotal)*100 ? (item.certificateTotal/peopleTotal)*100 : 0)",
                            :stroke-width="15",:stroke-color="getColorTwo(index)",hide-info,:style={
                                                            'cursor': 'pointer'})
                    .belowMiddle
                        span(:title="item.workType",:style={
                            'display': 'inline-block',
                            'width': '100%',
                            'overflow': 'hidden',
                            'textOverflow': 'ellipsis',
                            'whiteSpace': 'nowrap'}) {{item.workType}}
                    .belowRight
                        template
                            Progress(:title='item.total+"(人)"',:percent="((item.total/peopleTotal)*100 ? (item.total/peopleTotal)*100 : 0 )",
                            :stroke-width="15",:stroke-color="getColor(index)",hide-info,:style="{cursor: 'pointer'}")

            .bodyLeftMiddle
                .middleTop
                    .middleTopLeft
                    .topLeftMiddle
                        span 培训统计
                    .topLeftRight
                        .middleRightTitle
                            span(:style={
                                'line-height': '50px',
                                'font-size': '14px'
                            }) 人数
                        .middleRightTitleTwo
                            .middleRightRelative
                                .div-a
                                .div-b

                .hrBJ
                .middleLeftMiddle
                    .middleMiddleRight
                        .qq
                            img(src="~@/assets/css/images/rs.png" :style={'width': '13px', 'height': '7px'})
                            span(:style={'margin-left':'5px'}) 人数
                        .qq2
                            Col( span="12")
                                DatePicker(type="year",placeholder="请选择",:style="{width: '80px',color:'#000000'}",
                                :start-date="new Date()",format="yyyy",v-model="saleDate",confirm,@on-ok="dateOK()")
                .middleButtom
                    #peoples(:style={'height': '160px', 'width': '445px'})
            .bodyLeftBelow
                .belowTop
                    .belowTopLeft
                    .belowTopMiddle
                        span 课件培训统计
                    .topLeftRight
                        .middleRightTitle
                            span(:style={
                                'line-height': '50px',
                                'font-size': '14px'
                            }) 月份
                        .middleRightTitleTwo
                            .middleRightRelative
                                .div-a
                                .div-b
                .hrBJ
                .belowMiddleMiddle
                    .qq3
                        Col( span="12")
                            DatePicker(type="month",placeholder="请选择",:style="{width: '100px',color:'#000000'}",
                            :start-date="new Date()",format="yyyy-MM",v-model="saleMonthDate",confirm,@on-ok="dateMonthOK()")
                .cultivateEcharts
                    #cultivate(:style={'height': '200px', 'width': '418px'})
        .bodyMiddle
            .bodyMiddleTop
                video(controls="controls",autoplay,loop,width="800px",height="460px")
                    source(:src="'https://vdept.bdstatic.com/667751356b514d364a366d7366797643/" +
                    "4c34454e65495370/ff9fbe5e2e0430a371378a15c7ce7a7dabe243c409a132e7936a08c874cf10d7093a765c3a5ff70e71eac3395b150790.mp4?" +
                    "auth_key=1577763390-0-0-4d1fac4b3561e7edee6cddb034faf2a1'")
            .bodyMiddleMiddle
                .middleMiddleTop
                .middleMiddleBelow
                    .middleBelow
                        .belowTopOne
                            .topLeft
                            span(:style={
                                'line-height': '40px',
                                'font-size': '14px',
                                'color':'#ffffff'
                            }) 工种总数(种)
                        .belowBelow
                            span(:style={
                                'line-height': '100px',
                                'font-size': '38px',
                                'color': '#ffffff',
                                'cursor': 'pointer'
                            },@click="clickWorkType()")  {{workTypeCount}}
                    .middleBelow
                        .belowTopOne
                            .topLeftWB
                            span(:style={
                                'line-height': '40px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 自有队伍人数(人)
                        .belowBelow
                            span(:style={
                                'line-height': '100px',
                                'font-size': '38px',
                                'color': '#ffffff',
                                'cursor': 'pointer'
                            },@click="projectCountBeOn()")  {{this.store.projectCountBE.beOn}}
                    .middleBelow
                        .belowTopOne
                            .topLeftWB
                            span(:style={
                                'line-height': '40px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 外部队伍人数(人)
                        .belowBelow
                            span(:style={
                                'line-height': '100px',
                                'font-size': '38px',
                                'color': '#ffffff',
                                'cursor': 'pointer'
                            },@click="projectCountDimission()")  {{this.store.projectCountBE.dimission}}
            .bodyMiddleBelow
                .middleLeft
                    .middleBelowT
                        .belowTopOneT
                            .topLeftZS
                            span(:style={
                                'line-height': '40px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 在建工程总数
                        .belowBelowTwo
                            span(:style={
                                'line-height': '100px',
                                'font-size': '38px',
                                'color': '#ffffff',
                                'cursor': 'pointer'
                            },@click="projectCountDoing()")  {{this.store.projectCount.doing}}
                            span(:style={
                                'line-height': '100px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            })  个

                        .belowThree
                            span(:style={
                                'line-height': '66px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 工程总数：{{this.store.projectCount.total}}
                            span(:style={
                                'line-height': '66px',
                                'font-size': '14px',
                                'color': '#00e0ef',
                                'margin-left': '20px'
                            }) 未开工：{{this.store.projectCount.notInService}}
                .middleMiddle
                    .middleBelowT
                        .belowTopOneT
                            .topLeftZZ
                            span(:style={
                                'line-height': '40px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 在场工人数
                        .belowBelowTwo
                            span(:style={
                                'line-height': '100px',
                                'font-size': '38px',
                                'color': '#ffffff',
                                'cursor': 'pointer'
                            },@click="projectCountTheirOwn()")  {{this.store.projectCountBE.theirOwn}}
                            span(:style={
                                'line-height': '100px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            })  个
                        .belowThree
                            span(:style={
                                'line-height': '66px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 自有工人：{{this.store.projectCountBE.beOnTheirOwn}}
                            span(:style={
                                'line-height': '66px',
                                'font-size': '14px',
                                'color': '#ffffff',
                                'margin-left': '20px'
                            }) 外部工人：{{this.store.projectCountBE.dimissionTheirOwn}}
                .middleRight
                    .middleBelowT
                        .belowTopOneT
                            .topLeftZZ
                            span(:style={
                                'line-height': '40px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 离场工人数
                        .belowBelowTwo
                            span(:style={
                                'line-height': '100px',
                                'font-size': '38px',
                                'color': '#ffffff',
                                'cursor': 'pointer'
                            },@click="projectCountExternal()")  {{this.store.projectCountBE.external}}
                            span(:style={
                                'line-height': '100px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            })  个

                        .belowThree
                            span(:style={
                                'line-height': '66px',
                                'font-size': '14px',
                                'color': '#ffffff'
                            }) 自有工人：{{this.store.projectCountBE.beOnExternal}}
                            span(:style={
                                'line-height': '66px',
                                'font-size': '14px',
                                'color': '#ffffff',
                                'margin-left': '20px'
                            }) 外部工人：{{this.store.projectCountBE.dimissionExternal}}
        .bodyRight
            .bodyRightTop
                .topTop
                    .topRightRight
                    .topLeftMiddle
                        span 工种人数统计
                .hrBJ
                .gzEcharts
                    #gzEcharts(:style={'height': '230px', 'width': '230px'})
                .gzmm
                    table(:style={'width': '100%'},border="0",cellpadding="0",cellspacing="0")
                        tr(:style={'height': '25px'},v-for="(item, index) in getWorkTypeCount()")
                            td
                                .tableCircle(:style="{backgroundColor: backgroundColor(index)}")
                                span(:style={'cursor': 'pointer'},@click="workType(item.workType)") {{item.workType}}
                            td {{item.total}}人({{((item.total/peopleTotal)*100).toFixed(2)}}%)


            .bodyRightMiddle
                .topTop
                    .topRightJN
                    .topLeftMiddle
                        span 技能工种评定统计
                .hrBJ
                .threeP
                    #profession(:style={'height': '212px', 'width': '388px'})
            .bodyRightBelow
                .topTop
                    .topRightBL
                    .topLeftMiddle
                        span 不良记录统计
                .hrBJ
                .q4
                    Carousel(v-model="carousel", autoplay, :autoplay-speed=3000, dots="none", radius-dot, arrow="always")
                        CarouselItem(v-for="item in getAppraiseList()")
                            .demo-carousel
                                img(:src="'/api/workerlib/preview/appraise_statistics/photo/'+item.id" :style={'width': '100%', 'height': '100%'})
                .q5
                    table(:style={'width': '360px', 'text-align': 'center', 'margin-left':'auto',
                        'margin-right': 'auto'},border="0",cellpadding="0",cellspacing="0")
                        tr(:style={'height': '25px', 'background-color': '#002052', 'font-weight': 'bolder','color':'#0067fd'})
                            td(:style={'width': '25%'}) 编号
                            td(:style={'width': '25%'}) 姓名
                            td(:style={'width': '25%'}) 行为
                            td(:style={'width': '25%'}) 处罚
                        tr(:style={'height': '25px'},v-for="(item,index) in getAppraiseList()")
                            td(:style={'width': '25%'}) {{index+1}}
                            td(:style={'width': '25%'}) {{item.eafName}}
                            td(:style={'width': '25%'}) {{item.description}}
                            td(:style={'width': '25%'}) {{item.punishment}}


