.body
   .topOne
      .divOne
         span 项目：
            Input( v-model="value",clearable,style="width: 260px")
      .divOne
         span 参见单位：
            Input( v-model="value",clearable,style="width: 260px")
      .divOne
         span 项目名称：
            Input( v-model="value",clearable,style="width: 260px")
      .divOne
         span 姓名：
            Input( v-model="value",clearable,style="width: 260px")
      .divOne
         span 工种：
            Input( v-model="value",clearable,style="width: 260px")
      .divOne
         span 状态：
            Select(v-model="model8",clearable,style="width:260px")
               Option(v-for="item in getMenus()", :value="item.value", :key="item.key")
      .divOne
         span 类型：
            Input( v-model="value",clearable,style="width: 260px")
      .divOne
         Button 搜索
   .hr
   .button
      Button(type="primary", ghost,@click="modal2=!modal2",icon="ios-add-circle-outline") 新增
      Modal(:value="modal2",title="Common Modal dialog box title")
         p Content of dialog
         p Content of dialog
         p Content of dialog
      Button(type="primary", ghost, icon="ios-contact-outline") 离职
      Button(type="primary", ghost, icon="ios-log-in") 导入
      Button(type="primary", ghost, icon="ios-log-out") 导出

   .people(v-for="item in getPeoples()")
      .headPhotos
         .circle
      p(:style={
         "display": 'inline-block',
         "float": 'right',
         "width": '50%',
         "height": '16px',
         "margin-top": '10px'
      })
         span.imgCheck
      .top
         p(:style={
             'text-align': 'center', 'font-size': '16px',
             'line-height': '36px', 'color': '#000000'
         })
            span {{item.name}}
            span |
            span {{item.sex}}
            span |
            span {{item.age}}岁
         Button(@click="handleRender")
      .photos
      .y2
         p 手机号码
         p 身份证号
         p 工种
         p 状态
      .y3
         p {{item.phone}}
         p {{item.cards}}
         p {{item.profession}}
         p {{item.state}}
   .footer
      Page(:total="4", size="small" ,show-elevator,show-sizer,show-total)
