.body
    .topOne
        .divOne
            span 工种名称：
                Input(clearable,style="width: 200px" ,v-model="name")
        .divOne
            span
        .divOne
            span
        .divOne
            span
        .divOne
            Button(@click="search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addWorkclass=!addWorkclass") 新增工种
    .bodyTwo
        Table(:row-class-name="rowClassName", border, ref="selection", :columns="getColumns()", :data="getData()")
            template(slot-scope="{row, index }",slot="operation")
                Dropdown(trigger="click")
                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                        span 详细操作
                        Icon(type="md-arrow-dropdown" )
                    DropdownMenu(slot="list")
                        DropdownItem
                            Icon(type="ios-remove-circle-outline")
                            span(@click="popupUpdWorkclass(row.id)") 修改工种
                        DropdownItem
                            Icon(type="ios-remove-circle-outline")
                            span(@click="popupDelWorkclass(row.id)") 刪除工种
    .footer
        Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addWorkclass",title="新增工种",@on-ok="ok()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 工种名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="name")
    Modal(:value="updWorkclass",title="修改工种",@on-ok="yes()",@on-cancel="cancel()",width='50%')
        .addBody
            .divTwo
                .name
                    span 工种名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="name")
    Modal(:value="delWorkclass",title="删除工种",@on-ok="deletes()",@on-cancel="cancel()",width='75%')
        .delBody
            .divTwo
                .name
                    span 你确定要删除该工种吗？

