.body
    //.topOne
    //    .divOne
    //        span 工种名称：
    //            Input(clearable,style="width: 200px" ,v-model="selectName")
    //    .divOne
    //        span 是否加入统计：
    //            Select(v-model="selectIsCount" style="width:200px",clearable)
    //                Option(v-for="item in isOK()" :value="item.value" :key="item.value") {{ item.name }}
    //    .divOne
    //        span 是否显示：
    //            Select(v-model="selectIsShow" style="width:200px",clearable)
    //                Option(v-for="item in isOK()" :value="item.value" :key="item.value") {{ item.name }}
    div
        p(:style="{fontSize: '16px',fontWeight: 'bold'}") 工种设置

        div(class="selectedList")
            span(:style="{fontSize: '16px',float: 'left',marginRight: '10px',paddingTop: '14px',color: '#789fef'}") 已选条件
            div(class="selected",v-if="selectProjectId") {{getProjectName()}}
                Icon(type="ios-backspace-outline",@click="clearProject()")
            div(class="selected",v-if="selectWorkType") {{selectWorkType}}
                Icon(type="ios-backspace-outline")
            div(class="selected",v-if="selectStatus") {{selectStatus}}

            div(class="selectButton")
                div(class="reset") 重置
                div(class="inquire") 查询
        div(class="select",v-if="pullDown == false")
            div(class="divSelect")
                div(class="selectTitle") 所属公司
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable)
                            //Option(v-for="item in cityList" :value="item.value" :key="item.value") {{ item.label }}
            div(class="divSelect")
                div(class="selectTitle") 项目名称
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectProjectId")
                            Option(v-for="item in getProjectList()",:value="item.projectId",:key="item.projectId") {{ item.projectName}}
            div(class="divSelectMin")
                div(class="selectTitleMin") 工种
                div(class="selectValueMin")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectWorkType")
                            Option(v-for="item in getWorkTypeList()",:value="item.workTypeName",:key="item.workTypeName") {{ item.workTypeName}}
            div(class="divSelectMin")
                div(class="selectTitleMin") 状态
                div(class="selectValueMin")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectStatus")
                            Option(v-for="item in getStatusList()",:value="item.statusName",:key="item.statusName") {{ item.statusName}}
        div(class="selectedPullDown",v-else)
            div(class="divSelect")
                div(class="selectTitle") 所属公司
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable)
                            //Option(v-for="item in cityList" :value="item.value" :key="item.value") {{ item.label }}
            div(class="divSelect")
                div(class="selectTitle") 项目名称
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectProjectId")
                            Option(v-for="item in getProjectList()",:value="item.projectId",:key="item.projectId") {{ item.projectName}}
            div(class="divSelectMin")
                div(class="selectTitleMin") 工种
                div(class="selectValueMin")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectWorkType")
                            Option(v-for="item in getWorkTypeList()",:value="item.workTypeName",:key="item.workTypeName") {{ item.workTypeName}}
            div(class="divSelectMin")
                div(class="selectTitleMin") 状态
                div(class="selectValueMin")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectStatus")
                            Option(v-for="item in getStatusList()",:value="item.statusName",:key="item.statusName") {{ item.statusName}}
        div(class="pullDown",v-if="pullDown == false")
            img(src="~@/assets/css/images/下拉.png",@click="switchTo()")
        div(class="pullDown",v-else)
            img(src="~@/assets/css/images/上拉.png",@click="switchTo()")
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addCommentType=!addCommentType") 添加工种
    .bodyTwo
        Table(:row-class-name="rowClassName", border, ref="selection", :columns="getColumns()", :data="getData()")
            template(slot-scope="{row, index }",slot="isCount")
                span(v-if="row.isCount == 1") 是
                span(v-else) 否
            template(slot-scope="{row, index }",slot="isShow")
                span(v-if="row.isShow == 1") 是
                span(v-else) 否
            template(slot-scope="{row, index }",slot="color")
                .tableCircle(:style="{backgroundColor:row.color}")
            template(slot-scope="{row, index }",slot="operation")
                Dropdown(@on-click = "change")
                    a(href="javascript:void(0)" :style={"font-size": "16px"})
                        span 详细操作
                        Icon(type="md-arrow-dropdown" )
                    DropdownMenu(slot="list")
                        DropdownItem(:name="'edit_'+row.id")
                            Icon(type="ios-create-outline" )
                            span 编辑
                        DropdownItem(:name="'del_'+row.id")
                            Icon(type="ios-trash-outline" )
                            span 删除
    .footer
        Page(:total="pageCount",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

    Modal(:value="addCommentType",title="添加工种",@on-ok="ok()",@on-cancel="cancel()",width='50%',:loading = "loading")
        .addBody
            .divTwo
                .name
                    span 工种名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="addName")
            .divTwo
                .name
                    span 工种值
                    span(:style={'color': 'red'}) *
                .input
                    InputNumber(:min=1,clearable,style="width: 345px",size=large,v-model="addValue")
            .divTwo
                .name
                    span 是否加入统计
                    span(:style={'color': 'red'}) *
                .input
                    RadioGroup(v-model="addIsCount")
                        Radio(:label='1')
                            span 是
                        Radio(:label='2')
                            span 否
            .divTwo
                .name
                    span 是否显示
                    span(:style={'color': 'red'}) *
                .input
                    RadioGroup(v-model="addIsShow")
                        Radio(:label='1')
                            span 是
                        Radio(:label='2')
                            span 否
            .divTwo
                .name
                    span 显示颜色
                    span(:style={'color': 'red'}) *
                .input
                    Row
                        Col(span="12")
                            ColorPicker(v-model="addColor")


    Modal(:value="updateCommentType",title="编辑工种",@on-ok="updateOk()",@on-cancel="updateCancel()",width='50%',:loading = "loading")
        .addBody
            .divTwo
                .name
                    span 工种名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="editName",disabled)
            .divTwo
                .name
                    span 工种值
                    span(:style={'color': 'red'}) *
                .input
                    InputNumber(:min=1,clearable,style="width: 345px",size=large,v-model="editValue",disabled)
            .divTwo
                .name
                    span 是否加入统计
                    span(:style={'color': 'red'}) *
                .input
                    RadioGroup(v-model="editIsCount")
                        Radio(:label='1')
                            span 是
                        Radio(:label='2')
                            span 否
            .divTwo
                .name
                    span 是否显示
                    span(:style={'color': 'red'}) *
                .input
                    RadioGroup(v-model="editIsShow")
                        Radio(:label='1')
                            span 是
                        Radio(:label='2')
                            span 否
            .divTwo
                .name
                    span 显示颜色
                    span(:style={'color': 'red'}) *
                .input
                    Row
                        Col(span="12")
                            ColorPicker(v-model="editColor")
    Modal(:value="deleteCommentType",title="删除工种",@on-ok="deleteOK()",@on-cancel="deleteCancel()",width='50%',:styles="{top: '20px'}",)
        .delBody
            .divTwo
                .name
                    span 确定要删除该工种？

