.body
   .topOne
      .divOne
         span 项目名称：
            Input(clearable,style="width: 200px",v-model="selectProjectName")
      .divOne
         span 参建单位：
            Input(clearable,style="width: 200px",v-model="selectContractors")
      .divOne
         span 姓名：
            Input(clearable,style="width: 200px",v-model="selectUserName")
      .divOne
         .name
            span 性别:
         .input(style="margin-top: 18px")
            Select(filterable,v-model="selectSex",clearable,style="width: 200px")
               Option(v-for="item in getSex()", :value="item.key", :key="item.key") {{item.value}}
      .divOne
         span 工种：
            Select(filterable,clearable,style="width:200px",v-model="selectType")
               Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
      .divOne
         span 状态：
            Select(filterable,clearable,style="width:200px",v-model="selectStatus")
               Option(v-for="item in getMenus()", :value="item.key", :key="item.key") {{item.value}}
      .divOne
         span &nbsp;-&nbsp;
            InputNumber( v-model="selectAge2",style="width:99px")
         span 年龄阶段：
            InputNumber( v-model="selectAge1",style="width:99px,padding-left:-20px")

      .search
         Button(@click="this.store.search") 搜索
   .hr
   .button
      Button(type="primary", ghost,@click="addWorker=!addWorker",icon="ios-add-circle-outline") 新增
      Button(type="primary", ghost, icon="ios-log-in") 同步工人
      Button(type="primary", ghost, icon="ios-log-out",@click="upload()") 导出
      Button(type="primary",ghost,icon="ios-cloud-upload-outline",@click="uploadData=!uploadData") 导入薪资

   div(v-for="(item, index) in getPeopleList()", :key="index",
   @click="onCheck(item.eafId,item.eafName,item.leave)",
   :class="isChecked(item.eafId) ? 'people-selected' : 'people'")
      .headPhotos
         .circle
            img(:src="'http://113.105.121.93:1818'+item.cwrPhoto",:style={'width':'100%','height':'100%',
                'border-radius': '50%'})
      .top
         p(:style={
             'text-align': 'center', 'font-size': '16px',
             'line-height': '36px', 'color': '#000000', 'margin-top': '8%'
         })
            span(v-if="item.eafName != null") {{item.eafName}}
            span(v-else) 无
            span |
            span(v-if="checkSex(item.cwrIdnum)") 男
            span(v-else) 女
            span |
            span {{getAge(item.cwrIdnum)}}岁
            //查看详情
         Button(type="primary", ghost,@click="viewData(item.eafId,item.cwrIdnum)")
      .photos
         div(:class="isChecked(item.eafId) ? 'pop' : 'pTop'")
         .pButtom
            img(:src="'/api/workerlib/download/people/code/'+item.id", :style={'width': '100%', 'height': '100%'})
      .y2
         p 手机号码
         p 身份证号
      .y3
         p(v-if="item.eafPhone != null && item.eafPhone != '' ") {{item.eafPhone}}
         p(v-else) 无
         p(v-if="item.cwrIdnum != null && item.cwrIdnum != ''") {{item.cwrIdnum}}
         p(v-else) 无
   .footer
      Page(:total="pageTotal",show-sizer,show-elevator,show-total,
      @on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")

   Modal(:value="addWorker",title="新增人员",@on-ok="ok()",@on-cancel="cancel()",width='70%',:loading="loading")
      .addBody
         .left
            h2(:style={'text-ag': '18px', 'text-align': 'center'}) 基本信息
            .divTwo
               .name
                  span 姓名
                  span(:style={'color': 'red'}) *
               .input
                  Input(clearable,style="width: 345px",size=large,v-model="userName")
            .divTwo
               .name
                  span 身份证号
                  span(:style={'color': 'red'}) *
               .input
                  Input(clearable,style="width: 345px",size=large,v-model="card")
            .divTwo
               .name
                  span 手机号码
                  span(:style={'color': 'red'}) *
               .input
                  Input(clearable,style="width: 345px",size=large,v-model="phone")
            .divTwo
               .name
                  span 工种
                  span(:style={'color': 'red'}) *
               .input
                  Select(clearable,filterable,multiple,style="width:345px",v-model="type")
                     Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
         .right
            h2(:style={'text-ag': '18px', 'text-align': 'center'}) 证件信息
            .box
               .boxLeft
                  span 上传头像：
               .boxRight
                  Upload(multiple,type="drag",action="/api/workerlib/alluser/photo/upload",
                  :on-success="handleSuccessPhoto",:format="['jpg','jpeg','png']",:on-format-error="handleFormatError",:style={
                      'width': '30%',
                      'margin-top': '10%'
                  })
                     div(style="padding: 20px 0")
                        Icon(type="ios-add" size="52" style="color: #3399ff")
                        p 点击上传
            .box
               .boxLeft
                  span 上传身份证：
               .boxRight
                  Upload(multiple,type="drag",action="/api/workerlib/alluser/id_card_front/upload",
                  :on-success="handleSuccessIdCardfront",:format="['jpg','jpeg','png']",:on-format-error="handleFormatError",:style={
                      'width': '179px',
                      'height': '120px',
                      'float': 'left',
                      'margin-right': '20px',
                      'margin-top':'50px'
                  })
                     .divY
                        Icon(size="52" style="color: #3399ff")
                        p(:style={'color': '#ffffff','margin-top': '43px'}) 上传身份证正面
                  Upload(multiple,type="drag",action="/api/workerlib/alluser/id_card_reverse/upload",
                  :on-success="handleSuccessIdCardReverse",:format="['jpg','jpeg','png']",:on-format-error="handleFormatError",:style={
                      'width': '179px',
                      'height': '120px',
                      'float': 'left',
                      'margin-right': '20px',
                      'margin-top':'50px'
                  })
                     .divU
                        Icon(size="52" style="color: #3399ff")
                        p(:style={'color': '#ffffff','margin-top': '43px'})  上传身份证反面
            .box
               .boxLeft
                  span 上传证书：
               .boxRight
                  Upload(multiple,type="drag",action="/api/workerlib/worktype/certificate/upload",
                  :on-success="handleSuccessCertificate",:format="['jpg','jpeg','png']",:on-format-error="handleFormatError",:style={
                      'width': '40%',
                      'margin-top': '10%'
                  })
                     div(style="padding: 20px 0")
                        Icon(type="ios-add" size="52" style="color: #3399ff")
                        p 点击上传
   Modal(:value="particulars",title="人员详情",@on-ok="particularsOk()",@on-cancel="particularsCancel()",width='70%')
      .particularsBody
         .boxOne
            .oneTop
               .oTop
                  .oTop1
                     .oCircle
                        img(:src="'http://113.105.121.93:1818'+this.store.peopleInfo.cwrPhoto",:style={
                            'width': '100%', 'height': '100%',
                            'border-radius': '50%'
                        })
                  .oTop2
                     .top2
                        span {{this.store.peopleInfo.eafName}}
                        span |
                        span(v-if="checkSex(this.store.peopleInfo.cwrIdnum)") 男
                        span(v-else) 女
                        span |
                        span {{getAge(this.store.peopleInfo.cwrIdnum)}}岁
                  .oTop3
                     .photos
                  .y6
                     p 手机号码
                     p 身份证号
                     p 评定等级
                  .y7
                     p(v-if="this.store.peopleInfo.eafPhone") {{this.store.peopleInfo.eafPhone}}
                     p(v-else) 无
                     p(v-if="this.store.peopleInfo.cwrIdnum") {{this.store.peopleInfo.cwrIdnum}}
                     p(v-else) 无

                     p(v-if="this.store.peopleInfo.rateWorkType==null") 无
                     p(v-else) {{this.store.peopleInfo.rateWorkType}}
            .oneButtom
               .buttonTop
                  h2 参与项目
               .buttonDiv(v-for="invlo in getInvolvedProjectList()")
                  .text
                     p(:style={'font-weight':'bold'}) 项目名称
                     p(:style={
                         display: 'inline-block',
                         width: '100%',
                         overflow: 'hidden',
                         textOverflow: 'ellipsis',
                         whiteSpace: 'nowrap'
                     },:title ='invlo.project_name') {{invlo.project_name}}
                  .text
                     p(:style={'font-weight':'bold'}) 所在参建单位
                     p {{invlo.unit_name}}
                  .text
                     p(:style={'font-weight':'bold'}) 工种:
                        span(v-if="invlo.workType") {{invlo.workType}}
                        span(v-else) 无
                  .text
                     p(:style={'font-weight':'bold'}) 状态：
                        span(v-if="invlo.leave==1") 在场
                        span(v-else) 离场
                  .text
                     p(:style={'font-weight':'bold'}) 进场时间：
                        span(:style={'color':'#0E93FF'},v-if="invlo.cwrUserIn == null") 无
                        span(:style={'color':'#0E93FF'},v-else) {{getDateFormat(invlo.cwrUserIn)}}
                  .text
                     p(:style={'font-weight':'bold'}) 退场时间：
                        span(:style={'color':'#0E93FF'},v-if="invlo.cwrUserOut == null")  无
                        span(:style={'color':'#0E93FF'},v-else) {{getDateFormat(invlo.cwrUserOut)}}
               Page(:total="inPageTotal",show-total,@on-page-size-change="onInPageSizeChange",@on-change="onInPageIndexChange",:page-size=1)
         .boxTwo
            .twoTop
               .buttonTop
                  h2 参与培训
               .ch
                  .CDiv(v-for="item in getCultivateList()")
                     .twoLeft
                        .twoTextL
                           p(:style={'padding-top': '3%', 'font-weight': 'bold'}) {{item.course_name}}
                           p(:style={'color':'#0E93FF','font-size':'14px'},v-if="item.status==1") 线上学习时长：{{item.training_time}}小时
                           p(:style={'color':'#0E93FF','font-size':'14px'},v-else) 线下学习时长：{{item.training_time}} 小时
                     .twoRight
                        .twoTextR
                           p(:style={'padding-top': '3%', 'font-weight': 'bold'})   {{item.archivesStatus}}
                           p(:style={'color': '#0E93FF','font-size':'12px'}) 开始时间：{{item.startTime}}
                           p(v-if="item.endTime != null && item.endTime!= null",:style={'color': '#0E93FF','font-size':'12px'}) 结束时间：{{item.endTime}}
                           p(v-else,:style={'color': '#0E93FF','font-size':'12px'}) 结束时间：无
            .twoMiddle
               .buttonTop
                  h2 出勤记录
               .middle
                  p(:style={'font-weight': 'bold'}) 本月出勤天数
                     span(:style={'text-align':'right','color':'#0E93FF','float': 'right','margin-right': '10%'},
                     v-if="this.store.checkWorkceMonth.total!=null && this.store.checkWorkceMonth.total != '' ") {{this.store.checkWorkceMonth.total}}天
                     span(:style={'text-align':'right','color':'#0E93FF','float': 'right','margin-right': '10%'},v-else) 0 天
               .middleHr
               .middle
                  p(:style={'font-weight': 'bold'}) 总出勤天数
                     span(:style={'text-align':'right','color':'#0E93FF','float': 'right','margin-right': '10%'}) {{this.store.checkWorkce}} 天
            .twoButtom
               .buttonTop
                  h2 工资明细
               .middle
                  p(v-if="this.store.salaryInfo.pay == null",:style={'font-weight': 'bold'}) 总收入
                     span(:style={
                         'text-align': 'right',
                         'color': '#0E93FF',
                         'float': 'right',
                         'margin-right': '10%'
                     }) ¥ 0
                  p(v-else,:style={'font-weight': 'bold'}) 总收入
                     span(:style={
                         'text-align': 'right',
                         'color': '#0E93FF',
                         'float': 'right',
                         'margin-right': '10%'
                     }) ¥ {{this.store.salaryInfo.pay}}
               .middleHr
               .middle
                  p(v-if="this.store.salaryInfo.income == null",:style={'font-weight': 'bold'}) 总到账
                     span(:style={
                         'text-align': 'right',
                         'color': '#0E93FF',
                         'float': 'right',
                         'margin-right': '10%'
                     }) ¥ 0
                  p(v-else,:style={'font-weight': 'bold'}) 总到账
                     span(:style={
                         'text-align': 'right',
                         'color': '#0E93FF',
                         'float': 'right',
                         'margin-right': '10%'
                     }) ¥ {{this.store.salaryInfo.income}}
         .boxThree
            .three
               .buttonTop
                  h2 员工评价
               .threeDiv
                  span(:style={'font-size':'16px'}) 平均分：
                     span(:style={'font-size':'18px','font-weight':'bold'}) {{this.store.commentInfo.synthesize}}
                        Rate(disabled,:value="Number(this.store.commentInfo.synthesize)",allow-half)
               .middleHrBu
               .threeDiv
                  .com 好评 {{this.store.commentInfo.commGood}}
                  .com 中评 {{this.store.commentInfo.commMiddle}}
                  .com 差评 {{this.store.commentInfo.commBad}}
               .middleHr
               .threeDiv(v-for="item in getCommentSparticularsList()")
                  p(:style={
                      color:'#1397ff',
                      fontSize: '16px',
                      display: 'inline-block',
                      width: '100%',
                      overflow: 'hidden',
                      textOverflow: 'ellipsis',
                      whiteSpace: 'nowrap'},:title="item.project_name") {{item.project_name}}
                  p(:style={'color':'#9b9b9b','font-size': '12px'},v-if="item.type == 1") {{item.username}}  |  {{item.appraise_time}}
                  p(:style={'color':'#9b9b9b','font-size': '12px'},v-else) {{item.username}}  |  {{item.createOn}}

                  p(v-if="item.type == 1") 处罚：{{item.punishment}}
                  p(:style={'color':'#000000','font-size': '14px'},v-else) {{item.description}}
                     Rate(disabled,:value="Number(item.score)",allow-half)
                  img(src="~@/assets/css/images/commentOne.png" :style={
                      'width': '59px',
                      'height': '25px'
                  },v-if="item.type == 1")
                  img(src="~@/assets/css/images/commentsTwo.png" :style={'width': '59px', 'height': '25px'},v-else)

   Modal(title="是否将以下人员退场？",v-model="onLeave",:styles="{top: '20px'}",@on-ok="okLeave()",@on-cancel="cancelLeave()")
      .divL
         .divCheck(v-for="item in this.store.checkeds")
            p {{item.name}}
   Modal(:value="uploadData",title="上传资料",@on-ok="okUpload()",@on-cancel="cancelUpload()",width='70%',:loading="loading")
      .addBody

         .uploadTop
            a(href="/css/images/template.xls", target='_blank')
               Button(icon="ios-cloud-download-outline",:style={borderColor: '#2d8cf0', color: '#2d8cf0'}) 下载模板
         .uploadButtom
            Upload(multiple,type="drag",action="/api/workerlib/salary/import",
            :on-success="handleSuccessExcel",:format="['xls','xlsx']",:on-format-error="handleFormatErrorExcel",
            :show-upload-list="false")
               div(:style={padding: '200px 0',height:'500px'})
                  Icon(type="ios-add" size="52" style="color: #3399ff")
                  p 点击上传